<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-resource login</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<main class="main_content">
    <div class="container">
        <div class="web-introduction">
            <h2>FPT E-resource System</h2>
            <h6 id="web-introduction" >
                Every student thrives on a dynamic digital platform where knowledge has no limits.
                This will be a digital platform where FPT University lecturers and the library work together
                to regularly enrich, update and manage learning resources comprehensively. Our system not only
                includes diverse formats from documents and pdfs to videos, but also ensures students can
                explore and access these treasures of knowledge seamlessly. This is not only ideal,
                but also based on the actual needs of students and the development capabilities of the
                institution, creating a more connected and creative academic community.
            </h6>
        </div>
        <div class="content-body">
            <form class="modal-content animate"
                  method="post" role="form" th:action="@{/login}"
                  th:object="${account}" th:id="login-form">
                <div class="container">
                    <label th:for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter email" th:field="*{email}" th:id="email">

                    <label th:for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter password" th:field="*{password}"
                           th:id="password">
                    <label th:for="roles"><b>Select role</b></label>
                    <select th:name="roles" th:id="roles">
                        <option th:each="role : ${roles}"
                                th:text="${role}"
                                th:value="${role}">
                        </option>
                    </select>
                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="login-with-google" >Login with Google</button>
                    <button type="button" class="login-with-feId" >Login with FEID</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>
</body>
</html>