<!DOCTYPE html>
<!--Login modal-->
<body th:fragment="loginForm">
<div id="loginModal" class="modal">
    <div id="modalOverlay" class="modal__overlay">

    </div>
    <div class="modal__body">
        <form id="loginForm" class="auth-form" method="post" role="form" th:action="@{/login}"
              th:object="${account}" th:id="login-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">
                        Login
                    </h3>
                </div>

                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="email" class="auth-form__input" placeholder="Your Email">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Enter Password">
                    </div>

                    <div class="auth-form__select">
                        <label th:for="roles">Select role</label>
                        <select class="auth-form__select-tag" th:name="roles" th:id="roles">
                            <option th:each="role : ${roles}"
                                    th:text="${role}"
                                    th:value="${role}">
                            </option>
                        </select>
                    </div>
                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot-password">Forgot
                                Password</a>
                            <span class="auth-form__help-separate-line">|</span>
                            <a href="" class="auth-form__help-link auth-form__help-need-help">Need Help?</a>
                        </div>
                    </div>

                    <div class="auth-form__controls">
                        <div id="closeLoginForm" class="btn btn--hover auth-form__controls-back">BACK</div>
                        <button type="submit" class="btn btn--primary">LOGIN</button>
                    </div>
                </div>
            </div>
            <div class="auth-form__socials">
                <a href="" class="btn btn--size-s btn--with-icon auth-form__socials--google">
                    <i class="auth-form__socials-google-icon fab fa-google"></i>
                    <span class="auth-form__socials-title">
                        Login with Google
                        </span>
                </a>
                <a href="" class="btn btn--size-s btn--with-icon auth-form__socials--feid">
                    <i class="auth-form__socials-feid-icon fa fa-envelope"></i>
                    <span class="auth-form__socials-title">
                        Login with FeID
                        </span>
                </a>

            </div>
        </form>
    </div>
</div>
</body>
