<!DOCTYPE html>
<!--Login modal-->
<body th:fragment="loginForm">
<div id="loginModal" class="modal">
    <div id="modalOverlay" class="modal__overlay">

    </div>
    <div class="modal__body">
        <form id="loginForm" class="auth-form" method="post" role="form" th:action="@{/login}"
              th:object="${account}" th:id="login-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">
                        Login
                    </h3>
                </div>

                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="email" name="username" class="auth-form__input" placeholder="Your Email">
                    </div>
                    <div class="auth-form__group">
                        <input type="password" name="password" class="auth-form__input" placeholder="Enter Password">
                    </div>

                    <div class="auth-form__select">
                        <label th:for="campus">Select campus</label>
                        <select class="auth-form__select-tag" th:name="campus" th:id="campuses">
                            <option th:each="campus : ${campuses}"
                                    th:text="${campus}"
                                    th:value="${campus}">
                            </option>
                        </select>
                    </div>
                    <div class="auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot-password">Forgot
                                Password</a>
                            <span class="auth-form__help-separate-line">|</span>
                            <a href="" class="auth-form__help-link auth-form__help-need-help">Need Help?</a>
                        </div>
                    </div>

                    <div class="auth-form__controls">
                        <a href="/" id="closeLoginForm" class="btn btn--hover auth-form__controls-back">BACK</a>
                        <button type="submit" class="btn btn--primary">LOGIN</button>
                    </div>
                </div>
            </div>
            <div class="auth-form__socials">
                <a href="https://accounts.google.com/o/oauth2/auth?scope=profile+https://www.googleapis.com/auth/userinfo.email&redirect_uri=http://localhost:8080/login-google&response_type=code
    &client_id=618210662213-63n1o3sk8g83utv20j8i5vrdkge0ss94.apps.googleusercontent.com&approval_prompt=force" class="btn btn--size-s btn--with-icon auth-form__socials--google">
                    <i class="auth-form__socials-google-icon fab fa-google"></i>
                    <span class="auth-form__socials-title">
                        Login with Google
                        </span>
                </a>
                <a href="" class="btn btn--size-s btn--with-icon auth-form__socials--feid">
                    <i class="auth-form__socials-feid-icon fa fa-envelope"></i>
                    <span class="auth-form__socials-title">
                        Login with FeID
                        </span>
                </a>

            </div>
        </form>
    </div>
</div>
</body>
