<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject Management</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/manager.css" />
  </head>
  <body>
    <div class="app_container">
      <!-- Header -->
      <div class="row" th:replace="fragments/header::headerSection"></div>

      <!-- Content -->
      <main class="main_content">
        <div class="container">
          <div class="container-content">
            <div class="sidebar managerCourseSidebar">
              <nav id="sidebar">
                <ul class="list-unstyled components func_list">

                  <li class="func_item">
                    <a href="">Main Courses</a>
                  </li>
                  <li class="func_item">
                    <a href="">Others</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="body">
              <div class="user-management-head">
                <a th:href="@{/manager}">Home</a>
                <span> &gt; <a href="#"> Major And Subjects Management</a> </span>
              </div>

              <div class="">
                <div class="search-container">
                  <form action="/action_page.php">
                    <input
                            type="text"
                            placeholder="Search course.."
                            name="search"
                            id="search-text"
                    />
                    <button type="submit">
                      <i class="fa fa-search"></i> Search
                    </button>
                    <a class="btn-add" type="button" th:href="@{/manager/courses/add}">
                      Add new courses
                    </a>
                  </form>
                </div>
              </div>

              <div th:if="${courses ne null}">
                <table class="list-model-table">
                  <tr class="table-head">
                    <th>Code</th>
                    <th>Name</th>
                    <th>Descriptions</th>
                  </tr>
                  <tr>
                    <td><a th:href="@{/manager/courses/list/1}">HCM202</a></td>
                    <td>Course name</td>
                    <td>Hệ thống các quan điểm toàn diện và sâu sắc về những vấn đề cơ bản của cách mạng Việt Nam</td>
                  </tr>
                  <tr>
                    <td><a href="">HCM202</a></td>
                    <td>Course name</td>
                    <td>Hệ thống các quan điểm toàn diện và sâu sắc về những vấn đề cơ bản của cách mạng Việt Nam</td>
                  </tr>
                  <tr>
                    <td><a href="">HCM202</a></td>
                    <td>Course name</td>
                    <td>Hệ thống các quan điểm toàn diện và sâu sắc về những vấn đề cơ bản của cách mạng Việt Nam</td>
                  </tr>
                  <tr>
                    <td><a href="">HCM202</a></td>
                    <td>Course name</td>
                    <td>Hệ thống các quan điểm toàn diện và sâu sắc về những vấn đề cơ bản của cách mạng Việt Nam</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>




      </main>

      <!-- Footer -->
      <div class="row" th:replace="fragments/footer :: footerSection"></div>
    </div>

    <script src="/js/lib-manager.js"></script>
  </body>
</html>
