<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>E-Resource Lecturer Home</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
<div class="app_container">
    <!-- Header -->
    <div class="row" th:replace="fragments/header::studentHeaderSection"></div>

    <!--  Main-->
    <div class="main_content">
        <div class="grid">
            <div class="grid__row app__container-content">
                <div class="grid__column-2">
                    <nav class="category">
                        <h3 class="category__heading">Danh mục</h3>
                        <ul class="category__list">
                            <li class="category-item category-item--active">
                                <a href="#" class="category-item__link">Đi học</a>
                            </li>
                            <li class="category-item">
                                <a href="#" class="category-item__link">Đi ngủ</a>
                            </li>
                            <li class="category-item">
                                <a href="#" class="category-item__link">Ăn uống</a>
                            </li>
                            <li class="category-item">
                                <a href="#" class="category-item__link">Đi chơi</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="grid__column-10">
                    <div class="home-filter">
                        <span class="home-filter__label">Sắp xếp theo</span>
                        <button class="home-filter__tag btn">Phổ biến</button>
                        <button class="home-filter__tag btn btn--primary">
                            Mới nhất
                        </button>
                        <button class="home-filter__tag btn">Bán chạy</button>

                        <div class="select">
                            <span class="select-label">Giá</span>
                            <i class="select-input__icon fas fa-angle-down"></i>
                            <ul class="select-list">
                                <li class="select-item">
                                    <a href="" class="select-link">Giá thấp đến cao</a>
                                    <a href="" class="select-link">Giá cao đến thấp</a>
                                </li>
                            </ul>
                        </div>

                        <div class="home-filter__pagination">
                  <span class="home-filter__page-num">
                    <span class="home-filter__page-current">1</span>/ 14
                    <div class="home-filter__page-controler">
                      <a
                              href=""
                              class="home-filter__page-btn home-filter__page-btn--disable"
                      >
                        <i class="fas fa-angle-left"></i>
                      </a>
                      <a href="" class="home-filter__page-btn">
                        <i class="fas fa-angle-right"></i>
                      </a>
                    </div>
                  </span>
                        </div>
                    </div>
                    <div class="home-product">
                        <div class="grid__row">
                            <!-- Product-item -->

                            <div class="grid__column-2-4">
                                <a class="home-product-item" href="#">
                                    <img
                                            class="home-product-item__img"
                                            src="./assets/img/GS.006091_FEATURE_71014.jpg"
                                            alt=""
                                    />
                                    <div class="home-product-item__information">
                                        <h4 class="home-product-item__name">
                                            Iphone 12 64Gb VN/A Blue - Hàng chính hãng
                                        </h4>
                                        <div class="home-product-item__price">
                                            <span class="home-product-item__price-sale">0đ</span>
                                            <span class="home-product-item__price-original"
                                            >400.000.000đ</span
                                            >
                                        </div>
                                        <div class="home-product-item__react">
                          <span
                                  class="home-product-item__like home-product-item__like--liked"
                          >
                            <i
                                    class="home-product-item__like-icon-default far fa-heart"
                            ></i>
                            <i
                                    class="home-product-item__like-icon-fill fas fa-heart"
                            ></i>
                          </span>
                                            <div class="home-product-item__rating">
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                            </div>
                                            <span class="home-product-item__sold-quantity"
                                            >500 đã bán</span
                                            >
                                        </div>
                                        <div class="home-product-item__origin">
                                            <div class="home-product-item__brand">FPT Shop</div>
                                            <div class="home-product-item__original-country">
                                                Đà Nẵng
                                            </div>
                                        </div>
                                        <div class="home-product-item__favourite-label">
                                            <i class="fas fa-check"></i>
                                            Yêu thích
                                        </div>
                                        <div class="home-product-item__sale-off">
                                            <div class="home-product-item__sale-off-percent">
                                                -100%
                                            </div>
                                            <div class="home-product-item__sale-off-label">
                                                GIẢM
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="grid__column-2-4">
                                <a class="home-product-item" href="#">
                                    <img
                                            class="home-product-item__img"
                                            src="./assets/img/aoden.jpg"
                                            alt=""
                                    />
                                    <div class="home-product-item__information">
                                        <h4 class="home-product-item__name">
                                            Nụ cười tỏa há (tá hỏa)
                                        </h4>
                                        <div class="home-product-item__price">
                                            <span class="home-product-item__price-sale">0đ</span>
                                            <span class="home-product-item__price-original"
                                            >400.000.000đ</span
                                            >
                                        </div>
                                        <div class="home-product-item__react">
                          <span
                                  class="home-product-item__like home-product-item__like--liked"
                          >
                            <i
                                    class="home-product-item__like-icon-default far fa-heart"
                            ></i>
                            <i
                                    class="home-product-item__like-icon-fill fas fa-heart"
                            ></i>
                          </span>
                                            <div class="home-product-item__rating">
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                                <i
                                                        class="home-product-item__rating-star-gold fas fa-star"
                                                ></i>
                                            </div>
                                            <span class="home-product-item__sold-quantity"
                                            >500 đã bán</span
                                            >
                                        </div>
                                        <div class="home-product-item__origin">
                                            <div class="home-product-item__brand">
                                                FPT University
                                            </div>
                                            <div class="home-product-item__original-country">
                                                Đà Nẵng
                                            </div>
                                        </div>
                                        <div class="home-product-item__favourite-label">
                                            <i class="fas fa-check"></i>
                                            Yêu thích
                                        </div>
                                        <div class="home-product-item__sale-off">
                                            <div class="home-product-item__sale-off-percent">
                                                -100%
                                            </div>
                                            <div class="home-product-item__sale-off-label">
                                                GIẢM
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <!-- Pagination -->
                    <div class="pagination home-product__pagination-distance">
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="pagination-item pagination-item--active">
                            <a href="" class="pagination-item__link">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">2</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">3</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">4</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">5</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">...</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">14</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-right"></i>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="row" th:replace="fragments/footer :: footerSection"></div>
</div>

<script th:src="@{/js/librarian.js}"></script>
</body>
</html>