<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FPTU E-Resource</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/base.css" />
    <link
            rel="stylesheet"
            href="/css/lib-manager.css"
    />
</head>
<body>
<div class="app_container">
    <!-- Header -->
    <header>
        <div class="header_system-name">
            <h2>FPT University E-Resource System</h2>
        </div>
        <div class="header_account">
            <a href="">Logout</a>
            <a href="">lampt@fpt.edu.vn</a>
        </div>
    </header>

    <section>
        <h2>Search</h2>
        <form>
            <label for="title">Subject:</label>
            <input type="text" id="title" name="subject" required>
            <button type="submit">Go</button>
        </form>
    </section>

    <section>
        <h2>Recent subjects</h2>
        <ul>
            <li>
                <a href="">
                    <h3>HCM202</h3>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>HCM202</h3>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>HCM202</h3>
                </a>
            </li>
        </ul>
    </section>


    <!-- Footer -->
    <footer>
        <p>&copy; 2023 - FPT Education. All rights reserved.</p>
        <a href="#">About us</a>
    </footer>
</div>

</body>
</html>