<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>E-Resource Lecturer Home</title>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
<div class="app_container">
    <!-- Header -->
    <div th:replace="~{fragments/header::studentHeaderSection}"></div>

    <!--  Main-->
    <div class="main_content">
        <div class="grid app__container-content-wrapper">
            <div class="grid__row app__container-content">
                <div class="grid__column-3">
                    <div class="home__course-filter">
                        <div class="home__course-filter-title">
                            <p>Filter</p>
                            <a href="" class="home__course-filter-clear">Clear all</a>
                        </div>
                        <div class="home__course-filter-type">
                            <div class="home__course-filter-type-item">
                                <div class="home__course-filter-type-btn" onclick="toggleDropdown()">
                                    <span>Major</span>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                                <div class="home__course-filter-dropdown dropdown-content">
                                    <a th:each="major : ${majors}"
                                       href=""
                                       th:text="${major.getDisplayValue()}"
                                       th:value="${major}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-9">
                    <div class="home-filter">
                        <div class="home-filter__selection">
                            <button class="home-filter__tag btn btn--primary">
                                Courses
                            </button>
                            <button class="home-filter__tag btn">Resources</button>
                        </div>
                        <div class="home-filter__selection">
                            <span class="home-filter__label">Sort by</span>
                            <div class="select">
                                <span class="select-label">Date</span>
                                <i class="select-input__icon fas fa-angle-down"></i>
                                <ul class="select-list">
                                    <li class="select-item">
                                        <a href="" class="select-link">Alphabet</a>
                                        <a href="" class="select-link">Date</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="home-courses">
                        <div class="grid__row">
                            <ul class="home__course-list">
                                <li class="home__course-item">
                                    <div class="home__course-wrapper" th:each="course : ${courses}">


                                        <h2 class="home__course-code" th:text="${course.courseCode}" href=""></h2>
                                        <a class="home__course-name" th:text="${course.courseName}"
                                           th:href="@{'/student/courses/' + ${course.courseId}}"></a>
                                        <p class="home__course-description" th:text="${course.description}">
                                            <!--                                        The module consists of 6 chapters providing students with basic knowledge of-->
                                            <!--                                        Object, research methods-->
                                            <!--                                        and meaningful learning of the course Ho Chi Minh ideology; of the basis and the-->
                                            <!--                                        process of formation and development of Ho Chi Minh ideology; of national-->
                                            <!--                                        independence associated with socialism; of the Communist Party and State of the-->
                                            <!--                                        Socialist Republic of Viet Nam; of the great unity bloc with international-->
                                            <!--                                        solidarity; of culture, ethics, people.-->
                                        </p>
                                        <ul class="home__course-lecturer-list">
                                            <li th:each="lecturer : ${course.lecturers}"
                                                href="#" th:text="lecturerName">
                                            </li>
                                            <li class="home__course-lecturer-item">
                                                <a class="home__course-lecturer-link"
                                                   href="">
                                                    Mai K Đa
                                                </a>
                                            </li>
                                            <li class="home__course-lecturer-item">
                                                <a class="home__course-lecturer-link"
                                                   href="">
                                                    Nguyễn Ngọc Anh
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="pagination home-courses__pagination-distance">
                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">
                                    <i class="pagination-item__icon fas fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="pagination-item pagination-item--active">
                                <a href="" class="pagination-item__link">1</a>
                            </li>

                            <li class="pagination-item">
                                <a href="" class="pagination-item__link">
                                    <i class="pagination-item__icon fas fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function toggleDropdown() {
            var dropdownContent = document.querySelector('.dropdown-content');
            if (dropdownContent.style.display === "none" || dropdownContent.style.display === "") {
                dropdownContent.style.display = "block";
                setTimeout(function () {
                    dropdownContent.style.opacity = "1";
                }, 10); // delay a bit to ensure the transition takes effect
            } else {
                dropdownContent.style.opacity = "0";
                setTimeout(function () {
                    dropdownContent.style.display = "none";
                }, 300); // delay to wait for the transition to finish
            }
        }

    </script>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footerSection}"></div>
</div>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--Custom script-->
<script th:src="@{/js/student.js}"></script>
</body>
</html>