<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian | Course | Add topic</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/student.css}"/>


    <style>
        label.error {
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            color: red;
            /*font-size: smaller;*/
        }
    </style>

</head>
<body class="app_container">

<header th:replace="~{fragments/header::studentHeaderSection}"></header>

<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content row">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: studentSidebar}"></div>
                    </div>
                    <div class="stu_course-content main" id="main">
                        <div style="width: 100%">
                            <div class="document-details-info border-bottom">
                                <div style="flex: 3">
                                    <div class="doc-info-name h2" style="margin-bottom: 4px">
                                        <i class="fa-solid fa-file"></i>
                                        <a class="doc-info-name" th:text="${document.getTitle()}"></a></div>
                                    <div style="display: flex; width: 100%">
                                    <span class="course-info-lecturer" style="flex: 1; margin-bottom: 4px">
                                        Lecturer:
                                        <a href="" class="lecturer-name" th:text="${account.name}">
                                        </a></span>
                                        <span style="flex: 1">Type: <span class="lecturer-name"
                                                                          th:text="${document.resourceType}"></span></span>
                                    </div>
                                    <div><p>Description: <span th:text="${document.description}"></span></p></div>
                                </div>

                                <div class="stu_save-course-link" style="flex: 1;">
                                    <p><a class="unsaved-course">
                                        <i class="fa-regular fa-bookmark"></i>
                                        Bookmark</a>
                                    </p>
                                    <p><a class="unsaved-course" th:if="${saved ne null} AND ${saved} == false"
                                          th:href="@{'/student/courses/'+ ${course.getId} + '/save_course'}">
                                        <i class="fa-solid fa-bookmark"></i>
                                        Unbookmark</a>
                                    </p>
                                    <p><a class="saved-course" th:if="${saved ne null} AND ${saved} == true"
                                          th:href="@{'/student/courses/'+ ${course.getId} + '/unsaved_course'}">
                                        <i class="fa-regular fa-bookmark"></i>
                                        Bookmark</a></p>
                                </div>
                            </div>
                            <div class="student__course-document-view">


                                <div style="display: flex">
                                    <div class="doc-content-view" th:utext="${document.editorContent}"
                                         style="height: 500px; flex: 3; padding: 1rem; border: 2px solid gray; overflow: auto">
                                    </div>
                                    <div class="student__course-document-list" style="flex: 1">

                                        <div class="list-view-block doc-name-list">
                                            <div class="list-view-doc-title">
                                                <p class="h3 mb-2">Other Documents</p>
                                            </div>
                                            <form action="" method="" class="form-chose-doc-type">
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name1" value="Hello World">
                                                    <label for="doc-name1">Hello World</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name2" value="Sort">
                                                    <label for="doc-name2">Sort</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name3" value="Queue">
                                                    <label for="doc-name3">Queue</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name4" value="Stack">
                                                    <label for="doc-name4">Stack</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name5" value="Collections">
                                                    <label for="doc-name5">Collections</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name6" value="Linked-list">
                                                    <label for="doc-name6">Linked-list</label>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <div class="stu__navbar-view-doc">
                                    <ul class="stu__navbar-view-doc-list border-bottom">
                                        <li class="stu__navbar-view-doc-item stu__navbar-active">
                                            <a th:href="@{/student/my_library/saved_courses}">
                                                Question & Answer
                                            </a>
                                        </li>
                                        <li class="stu__navbar-view-doc-item">
                                            <a th:href="@{/student/my_library/saved_documents}">
                                                Notes
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="list-view-inline bot-doctype-list">
                                    <form action="" method="" class="form-chose-doc-type">

                                        <input name="docType" type="radio" id="radio-bot-1" value="All">
                                        <label for="radio-bot-1">All</label>

                                        <input name="docType" type="radio" id="radio-bot-2" value="Reading">
                                        <label for="radio-bot-2">Reading</label>

                                        <input name="docType" type="radio" id="radio-bot-3" value="Lecturer Notes">
                                        <label for="radio-bot-3">Lecturer Notes</label>

                                        <input name="docType" type="radio" id="radio-bot-4" value="Reading">
                                        <label for="radio-bot-4">Reading</label>

                                        <input name="docType" type="radio" id="radio-bot-5" value="Reading">
                                        <label for="radio-bot-5">Reading</label>

                                        <input name="docType" type="radio" id="radio-bot-6" value="Reading">
                                        <label for="radio-bot-6">Reading</label>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--Bootstrap script-->
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<!--Custom script-->
<script th:src="@{/js/student.js}"></script>
<script th:src="@{/js/student-doc-detail.js}"></script>
</body>
</html>