<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian | Course | Add topic</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/student.css}"/>


    <style>
        label.error {
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            color: red;
            /*font-size: smaller;*/
        }
    </style>

</head>
<body class="app_container">

<header th:replace="~{fragments/header::studentHeaderSection}"></header>

<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content row">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: studentSidebar}"></div>
                    </div>
                    <div class="stu_course-content main" id="main">
                        <div class="student__course-topic-list">
                            <div class="course-info">
                                <div class="course-info-title">
                                    <i class="fa-solid fa-folder"></i>
                                    <span><h3 class="h3">PRJ301</h3></span>
                                </div>
                            </div>
                            <div class="list-view-block border-bottom course-general-link-info">
                                <a th:href="@{/student/courses/PRJ301}">Course Information</a>
                            </div>
                            <div class="list-view-block course-topic-list">
                                <a href="">Material</a>
                                <a href="">CLO1</a>
                                <a href="">CLO2</a>
                            </div>
                        </div>
                        <div class="student__course-document-view">
                            <div class="student__document-type-list">
                                <div class="list-view-inline top-doctype-list">
                                    <form action="" method="" class="form-chose-doc-type">

                                        <input name="docType" type="radio" id="radio1" value="All">
                                        <label for="radio1">All</label>

                                        <input name="docType" type="radio" id="radio2" value="Reading">
                                        <label for="radio2">Reading</label>

                                        <input name="docType" type="radio" id="radio3" value="Lecturer Notes">
                                        <label for="radio3">Lecturer Notes</label>

                                        <input name="docType" type="radio" id="radio4" value="Reading">
                                        <label for="radio4">Reading</label>

                                        <input name="docType" type="radio" id="radio5" value="Reading">
                                        <label for="radio5">Reading</label>

                                        <input name="docType" type="radio" id="radio6" value="Reading">
                                        <label for="radio6">Reading</label>
                                    </form>
                                </div>
                            </div>
                            <div class="doc-content-list">

                                <!--Document view-->
                                <div class="d-flex document-view-info border-bottom">
                                    <div class="doc-info-title grid__column-7">
                                        <div>
                                            <p class="doc-info-title"><a th:href="@{/student/documentDetail}"> <span>Tai lieu tham khao C</span></a>
                                            </p>
                                            <p class="doc-info-general">
                                                <a href="">Lecturer:<span>Pham Quang Huy</span></a>
                                                <span>Rating: 5</span><i class="fa-solid fa-star"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="doc-info-date grid__column-2">
                                        <p><span>mm/dd/yyyy</span></p>
                                    </div>
                                    <div class="grid__column-1" >
                                        <form action="" method="">
                                            <input type="text" value="docId" hidden>
                                            <button class="stu__btn_save-doc" type="submit">
                                                <i class="fa-regular fa-bookmark"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <!--End Document view-->

                                <!--Document view-->
                                <div class="d-flex document-view-info border-bottom">
                                    <div class="doc-info-title grid__column-7">
                                        <div>
                                            <p class="doc-info-title"><a th:href="@{/student/documentDetail}"> <span>Tai lieu tham khao C</span></a>
                                            </p>
                                            <p class="doc-info-general">
                                                <a href="">Lecturer:<span>Pham Quang Huy</span></a>
                                                <span>Rating: 5</span><i class="fa-solid fa-star"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="doc-info-date grid__column-2">
                                        <p><span>mm/dd/yyyy</span></p>
                                    </div>
                                    <div class="grid__column-1">
                                        <form action="" method="">
                                            <input type="text" value="docId" hidden>
                                            <button class="stu__btn_save-doc" type="submit">
                                                <i class="fa-regular fa-bookmark"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <!--End Document view-->

                            </div>

                            <div class="list-view-inline bot-doctype-list">
                                <form action="" method="" class="form-chose-doc-type">

                                    <input name="docType" type="radio" id="radio-bot-1" value="All">
                                    <label for="radio-bot-1">All</label>

                                    <input name="docType" type="radio" id="radio-bot-2" value="Reading">
                                    <label for="radio-bot-2">Reading</label>

                                    <input name="docType" type="radio" id="radio-bot-3" value="Lecturer Notes">
                                    <label for="radio-bot-3">Lecturer Notes</label>

                                    <input name="docType" type="radio" id="radio-bot-4" value="Reading">
                                    <label for="radio-bot-4">Reading</label>

                                    <input name="docType" type="radio" id="radio-bot-5" value="Reading">
                                    <label for="radio-bot-5">Reading</label>

                                    <input name="docType" type="radio" id="radio-bot-6" value="Reading">
                                    <label for="radio-bot-6">Reading</label>
                                </form>
                            </div>
                        </div>
                        <div class="student__topic-info">
                            <div class="topic-info-title">
                                <p><span>CLO1</span></p>
                            </div>
                            <div class="topic-info-description">
                                <p><span>Nắm vững những nét khái quát nhất về triết học, triết học Mác – Lênin
                                    và vai trò của triết học Mác – Lênin trong đời sống xã hội Master the most general
                                    features of philosophy, Marxism – Leninism philosophy, and the role of Marxist-Leninist
                                    philosophy in social life.</span></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--Bootstrap script-->
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<!--Custom script-->
<script th:src="@{/js/student.js}"></script>
</body>
</html>