<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${course.courseCode} + ' - ' + ${course.courseName}"></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/student.css}"/>

    <!-- SweetAlert từ CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">
    <style>
        label.error {
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            color: red;
            /*font-size: smaller;*/
        }
    </style>

</head>
<body class="app_container">

<header th:replace="~{fragments/header::studentHeaderSection}"></header>

<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar" th:with="sidebarParam = ${saved} ? 'my-favourite' : 'courses'">
                        <div th:replace="~{fragments/sidebar:: studentSidebar(${sidebarParam})}"></div>
                    </div>
                    <div class="stu_course-content main d-flex" id="main">
                        <div class="student__course-document-view" style="flex: 4">

                            <div class="student__document-type-list">
                                <div class="list-view-inline top-doctype-list">
                                    <form th:id="formChoseResourceTypeTop" action="" method=""
                                          class="form-chose-doc-type">
                                        <input name="resourceType" type="radio" id="all-resource-type-top"
                                               value="all-resource-type" checked>
                                        <label for="all-resource-type-top" onclick="listByTopic()"
                                               th:text="All"></label>
                                        <th:block th:each="resourceType : ${course.resourceTypes}">
                                            <input th:name="resourceType" type="radio"
                                                   th:id="${resourceType.id}+'resource-top'"
                                                   th:value="${resourceType.id}">
                                            <label th:for="${resourceType.id}+'resource-top'"
                                                   th:text="${resourceType.resourceTypeName}"
                                                   th:course-id="${course.id}"
                                                   onclick="choseResourceType(this)"></label>
                                        </th:block>
                                    </form>
                                </div>
                            </div>
                            <!-- List chose topic-->
                            <div class="topic-view-list-link">
                                <div class="links-container">
                                    <a th:each="topic : ${course.topics}" class='link-view-detail-topic'
                                           th:topic-id="${topic.id}"
                                           th:id="'link-view-detail-' + ${topic.id}"
                                           onclick=getByTopic(this.getAttribute("topic-id"))
                                       th:text="${topic.topicTitle}"></a>
                                    </li>
                                </div>
                            </div>

                            <!--List by topics-->
                            <div class="doc-content-list" th:id="list-by-topic">
                                <div class="topic-list-content">
                                    <div class="topic-view-list" th:each="topic : ${course.topics}">
                                        <!--Topic view-->
                                        <div class="topic-item">
                                            <div class="topic-title">
                                                <h3 class="topic-info-title topic-title-in-view-course"
                                                    th:topic-id="${topic.id}"
                                                    onclick="viewTopicDocument(this.getAttribute('topic-id'))">
                                                    <span th:text="${topic.topicTitle}"></span>
                                                    <i th:id="'view-less-' + ${topic.id}" class="fa-solid fa-chevron-up"
                                                       style="display: none"></i>
                                                    <i th:id="'view-more-' + ${topic.id}"
                                                       class="fa-solid fa-chevron-down"></i>
                                                    <span style="display: none" class="loading"
                                                          th:id="'loading-more-document-' + ${topic.id}"><i
                                                            class="fas fa-spinner fa-spin"></i></span>
                                                </h3>
                                            </div>
                                            <div class="doc-in-topic" th:id="'list-doc-of-topic-' + ${topic.id}"
                                                 style="display: none">
                                                <!--Document view list-->
                                                <!--                                                <div class="d-flex document-view-info border-bottom"-->
                                                <!--                                                     th:each="document : ${topic.getDocuments()}">-->
                                                <!--                                                    <div class="doc-info-head grid__column-8">-->
                                                <!--                                                        <p class="doc-info-title"><a-->
                                                <!--                                                                th:href="@{'/student/documents/' + ${document.id}}">-->
                                                <!--                                                            <span th:text="${document.title}"></span></a>-->
                                                <!--                                                        </p>-->
                                                <!--                                                        <p class="doc-info-description">-->
                                                <!--                                                            <span th:text="${document.description}"></span>-->
                                                <!--                                                        </p>-->
                                                <!--                                                    </div>-->
                                                <!--                                                    <div class="doc-info grid__column-2">-->
                                                <!--                                                        <p><span class="doc-info-date"-->
                                                <!--                                                                 th:text="${document.lastModifiedDate}"></span></p>-->
                                                <!--                                                    </div>-->
                                                <!--                                                </div>-->
                                                <!--End Document view-->
                                            </div>

                                        </div>
                                        <!--End Topic view-->

                                    </div>
                                </div>
                            </div>
                            <!--End List by topics-->


                            <!--                            <div class="list-view-inline bot-doctype-list">-->
                            <!--                                <form action="" method="" class="form-chose-doc-type">-->
                            <!--                                    <input name="resourceType" type="radio" id="all-resource-type-bottom" value="all-resource-type">-->
                            <!--                                    <label for="all-resource-type-bottom">All</label>-->
                            <!--                                    <th:block th:each="resourceType : ${course.resourceTypes}">-->
                            <!--                                        <input th:name="resourceType" type="radio" th:id="'bottom-resource-'+${resourceType.resourceTypeName}" th:value="${resourceType.id}">-->
                            <!--                                        <label th:for="'bottom-resource-'+${resourceType.resourceTypeName}" th:text="${resourceType.resourceTypeName}"></label>-->
                            <!--                                    </th:block>-->
                            <!--                                </form>-->
                            <!--                            </div>-->

                            <!--List by resource-->
                            <div class="loading list-doc-by-resource">
                                <a type="button" title="Sending" th:id="loading-by-resource" style="display:none;">
                                    <i class="fas fa-spinner fa-spin"></i>
                                    Loading...</a>
                            </div>
                            <div th:id="list-by-resource" class="list-doc-by-resource display-none">
                            </div>

                            <!--End List by resource-->


                        </div>
                        <div class="student__topic-info" style="flex: 1">
                            <div class="course-details-head">
                                <div class="course-details-name">
                                    <p class="course-info-name h2">
                                        <i class="fa-solid fa-folder"></i>
                                        <a class="course-info-name" th:href="@{'/student/courses/' + ${course.getId}}"
                                           th:text="|${course.courseCode} - ${course.courseName}|"></a></p>
                                    <p class="course-info-lecturer">
                                        <a href="" th:if="${course.lecturer ne null}">Lecturer:
                                            <span
                                                    class="lecturer-name"
                                                    th:text="${course.lecturer.account.name}">

                                        </span>
                                        </a></p>
                                    <div class="stu_save-course-link">
                                        <p><a class="unsaved-course" th:if="${saved ne null} AND ${saved} == true"
                                              th:attr="courseId=${course.getId}">
                                            <i class="fa-solid fa-bookmark"></i>
                                            Unbookmark</a>
                                        </p>
                                        <p><a class="save-course" th:if="${saved ne null} AND ${saved} == false"
                                              th:attr="courseId=${course.getId}">
                                            <i class="fa-regular fa-bookmark"></i>
                                            Bookmark</a></p>
                                    </div>
                                </div>
                                <div class="list-view-block bot-doctype-list border-top">
                                    <form th:id="formChoseResourceTypeBot" action="" method=""
                                          class="form-chose-doc-type">
                                        <p>
                                            <input name="resourceType" type="radio" id="all-resource-type-bot"
                                                   value="all-resource-type" checked>
                                            <label for="all-resource-type-bot" onclick="listByTopic()">All</label>
                                        </p>

                                        <th:block th:each="resourceType : ${course.resourceTypes}">
                                            <p>
                                                <input th:name="resourceType" type="radio"
                                                       th:id="${resourceType.id}+'resource-bot'"
                                                       th:value="${resourceType.id}">
                                                <label th:for="${resourceType.id}+'resource-bot'"
                                                       th:text="${resourceType.resourceTypeName}"
                                                       class="resource-type-item"
                                                       th:course-id="${course.id}"
                                                       onclick="choseResourceType(this)"
                                                ></label>
                                            </p>
                                        </th:block>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--Bootstrap script-->
<script th:src="@{/assets/bootstrap-dist/js/bootstrap.bundle.min.js}"

        crossorigin="anonymous"></script>
<!--Custom script-->
<script th:src="@{/js/student/student.js}"></script>
<script>
    // Gán sự kiện "click" cho tất cả các label trong form1
    $('#formChoseResourceTypeTop label').on('click', function () {
        var correspondingInput = $('#' + $(this).attr('for'));

        var correspondingInputId = correspondingInput.attr('id').replace('-top', '-bot');
        var correspondingInputForm2 = $('#' + correspondingInputId);

        if (correspondingInputForm2.length) {
            correspondingInputForm2.prop('checked', true);
        }
    });

    // Gán sự kiện "click" cho tất cả các label trong form2
    $('#formChoseResourceTypeBot label').on('click', function () {
        var correspondingInput = $('#' + $(this).attr('for'));

        var correspondingInputId = correspondingInput.attr('id').replace('-bot', '-top');
        var correspondingInputForm1 = $('#' + correspondingInputId);

        if (correspondingInputForm1.length) {
            correspondingInputForm1.prop('checked', true);
        }
    });
</script>
</body>
</html>