<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${document.getTitle()}"></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/student.css}"/>


    <style>
        label.error {
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            color: red;
            /*font-size: smaller;*/
        }
        .highlight {
            background-color: yellow;
        }

        .note-sticker {
            position: absolute;
            background-color: white;
            border: 1px solid black;
            padding: 10px;
            display: none;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <!-- CK Editor-->
    <script th:src="@{/assets/ckeditor5/build/ckeditor.js}"></script>
    <script th:src="@{/ckfinder/static/ckfinder.js}"></script>

</head>
<body class="app_container">

<header th:replace="~{fragments/header::studentHeaderSection}"></header>

<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: studentSidebar('courses')}"></div>
                    </div>
                    <div class="stu_course-content border-start main" id="main">
                        <div style="width: 100%">
                            <div class="document-details-info border-bottom">
                                <div style="flex: 3">
                                    <div class="doc-info-name h2" style="margin-bottom: 4px">
                                        <p class="doc-info-name" th:text="${document.getTitle()}"></p></div>
                                    <div style="display: flex; width: 100%">
                                    <span class="course-info-lecturer" style="flex: 1; margin-bottom: 4px">
                                        Lecturer:
                                        <a href="" class="lecturer-name" th:text="${account.name}">
                                        </a></span>
<!--                                        <span style="flex: 1">Type: <span class="lecturer-name"-->
<!--                                                                          th:text="${document.resourceType.resourceTypeName}"></span></span>-->
                                    </div>
                                    <div><p>Description: <span th:text="${document.description}"></span></p></div>
                                </div>


                                <div class="stu_save-course-link stu_save-doc-link">
                                    <p><a class="unsaved-doc" th:if="${saved ne null} AND ${saved} == true"
                                        th:attr="docId=${document.getId}">
                                        <i class="fa-solid fa-bookmark"></i>
                                        Unbookmark</a>
                                    </p>
                                    <p><a class="save-doc" th:if="${saved ne null} AND ${saved} == false"
                                          th:attr="docId=${document.getId}">
                                        <i class="fa-regular fa-bookmark"></i>
                                        Bookmark</a></p>
                                </div>
                            </div>
                            <div class="student__course-document-view">


                                <div style="display: flex">
                                    <div style="display: flex; flex: 4">
                                        <th:block th:if="${document.docType.toString().equals('UNKNOWN')}">
                                            <div class="doc-content-view" th:utext="${document.editorContent}"
                                                 style="height: 500px; flex: 3; padding: 1rem; border: 2px solid gray; overflow: auto">
                                            </div>
                                        </th:block>
                                        <!--                                    <th:block th:if="${document.docType.toString().equals('TXT')}">-->
                                        <!--                                        <embed th:attr="src=@{'data:text/plain;base64,' + ${data}}" type="text/plain" width="100%" height="600px">-->
                                        <!--                                    </th:block>-->
                                        <th:block th:if="${document.docType.toString().equals('PDF')}">
                                            <embed class="doc-content-view" th:attr="src='data:application/pdf;base64,' + ${data}" type="application/pdf" width="100%" height="600px">
                                        </th:block>
                                    </div>
                                    <div class="note-sticker">
                                        <textarea id="noteText"></textarea>
                                        <button onclick="saveNote()">Save Note</button>
                                    </div>
                                    <div class="student__course-document-list" style="flex: 1">

                                        <div class="list-view-block doc-name-list">
                                            <div class="list-view-doc-title">
                                                <p class="h3 mb-2">Other Documents</p>
                                            </div>
                                            <form action="" method="" class="form-chose-doc-type">
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name1" value="Hello World">
                                                    <label for="doc-name1">Hello World</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name2" value="Sort">
                                                    <label for="doc-name2">Sort</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name3" value="Queue">
                                                    <label for="doc-name3">Queue</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name4" value="Stack">
                                                    <label for="doc-name4">Stack</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name5" value="Collections">
                                                    <label for="doc-name5">Collections</label>
                                                </p>
                                                <p>
                                                    <input name="docId" type="radio" id="doc-name6" value="Linked-list">
                                                    <label for="doc-name6">Linked-list</label>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <div class="stu__navbar-view-doc">
                                    <ul class="stu__navbar-view-doc-list border-bottom">
                                        <li class="stu__navbar-view-doc-item" id="link-view-question">
                                            <a href="#question" onclick="viewSection('question')">
                                                Question & Answer
                                            </a>
                                        </li>
                                        <li class="stu__navbar-view-doc-item stu__navbar-active" id="link-view-note">
                                            <a href="#note" onclick="viewSection('note')">
                                                Notes
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Note section-->
                                <div th:href="@{'/student/documents/'+${document.id}+'#note'}" id="note" class="section-view">
                                    <div class="stu__note-in-doc-view">
                                        <div class="stu__note-in-doc-content" th:if="${note ne null}">
                                            <div class="stu__note-content">
                                                <div id="note-content" th:utext="${note.noteContent}"></div>
                                            </div>
                                            <div class="view-note-link">
                                                <div class="justify-content-end">
                                                    <a class="edit-Note">Edit</a> <a class="delete-note">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="stu__note-in-doc-content-new" style="display:none;">
                                            <div class="stu__note-content">
                                                <div id="new-note-content"></div>
                                            </div>
                                            <div class="view-note-link">
                                                <div class="justify-content-end">
                                                    <a class="edit-note">Edit</a> <a class="delete-note">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="stu__note-in-doc-textarea" th:if="${note == null}">
                                            <form class="form-student-add-doc-notes" method="post" role="form"
                                                  th:object="${documentNote}"
                                                  th:id="add-note-form" enctype="multipart/form-data">
                                                <input type="text" th:field="*{docId}" th:value="${document.getId}" readonly hidden>
                                                <div id="editorWrapper">
                                                    <div class="d-flex justify-content-between">
                                                        <label for="editor" class=".student_input-label">Content:</label>
                                                        <label id="error-input-new-note" class="student_input-label-note error-input">Content require!</label>
                                                    </div>
                                                    <textarea id="editor"
                                                              th:field="*{noteContent}" required></textarea>
                                                </div>
                                                <div class="stu__save-note">
<!--                                                    <button type="submit" id="add-doc-note" onclick="submitFormAddNotes()">Save Note</button>-->
                                                    <a type="button" title="Sending" style="display:none;"  id="sending-new-note" th:document-id="${document.id}"><i class="fas fa-spinner fa-spin"></i> Sending...</a>
                                                    <button type="button" title="Send" id="send-new-note-button" th:document-id="${document.id}" onclick="submitFormAddNote(this.getAttribute('document-id'))">Save Note</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--End note section-->
                                <div th:href="@{'/student/documents/'+${document.id}+'#question'}" id="question" style="display: none" class="stu_doc-view-question-content section-view">
                                    <div class="stu__save-question">
                                        <button class="btn btn--hover add-doc-question" id="add-doc-question">New Question</button>
                                    </div>
                                    <form class="form-student-add-doc-new-question justify-content-between" method="post" role="form"
                                          th:object="${newQuestion}"
                                            id="form-add-new-question">
                                        <div class="">
                                            <input type="text" name="docId" th:value="${document.getId()}" readonly hidden>
                                            <div class="form-content">
                                                <label th:id="error-input-new-question" class="student_input-label-question error-input">Content require!</label>
                                                <label for="new-question-content" class="student_input-label-question">Enter Question:</label>
                                                <textarea id="new-question-content" class="input-question-content"
                                                          th:field="*{content}"></textarea>

                                            </div>
                                        </div>
                                        <div class="submit-question-button">
                                            <button type="button" title="exist" th:id="exist-new-question-form-button" onclick="existFormAddQuestion()"><i class="fa-solid fa-xmark"></i></button>
                                            <a type="button" title="Sending" style="display:none;"  th:id="sending-new-question"><i class="fas fa-spinner fa-spin"></i> Sending...</a>
                                            <button type="button" title="Send" th:id="send-new-question-button" onclick="submitFormAddQuestion()"><i class="fa-solid fa-paper-plane"></i></button>
                                        </div>
                                    </form>

                                    <div class="stu__question-in-doc-content">
<!--                                        <h5 class="my-question-header">My questions</h5>-->
                                        <div class="stu__my-question-content" id="my-questions">
                                            <div class="stu__question-content"  th:if="${myQuestions ne null} AND ${myQuestions.size} > 0" th:each="myQuestion : ${myQuestions}">
                                                <h6 class="stu__question-creater-name"><i class="fa-solid fa-user"></i> <span th:text="${myQuestion.studentName}"></span>(You)</h6>
                                                <p class="stu__question-content" th:text="${myQuestion.questionContent}"></p>
                                                <div class="justify-content-end link-view-question stu__question-content" th:if="${myQuestion.lastModifiedDate}">
                                                    <span class="stu__note-date" th:text="${myQuestion.lastModifiedDate}"></span> <a class="view-note-link-item ">Edit</a>  <a class="view-note-link-item">Delete</a><a class="lec__add-reply view-question-link-item" th:question-id="${myQuestion.questionId}" onclick="showReplyForm(this.getAttribute('question-id'))"> Reply</a>
                                                </div>

                                                <!-- view reply -->
                                                <p  th:if="${myQuestion.totalAnswers} > 0" th:id="'view-more-reply-'+${myQuestion.questionId}" th:question-id="${myQuestion.questionId}" onclick="viewMoreReply(this.getAttribute('question-id'))"  class="view-question-reply stu__question-content">View all <span th:id="'number-reply-'+ ${myQuestion.questionId}" th:text="${myQuestion.totalAnswers}"></span> reply</p>
                                                <p style="display:none;"  th:if="${myQuestion.totalAnswers} > 0" th:id="'see-less-reply-'+${myQuestion.questionId}" th:question-id="${myQuestion.questionId}" onclick="seeLessReply(this.getAttribute('question-id'))"  class="view-question-reply stu__question-content">See less</p>
                                                <p style="display:none;"  th:id="'loading-reply-'+${myQuestion.questionId}" th:question-id="${myQuestion.questionId}" class="view-question-reply lec__question-content see-less"><i class="fas fa-spinner fa-spin"></i> Loading more reply...</p>
                                                <div class="reply-content" th:id="'list-reply-content-'+${myQuestion.questionId}">

                                                </div>
                                                <!--Reply form-->
                                                <div class="stu__reply-form" th:id="'reply-form'+${myQuestion.questionId}">
                                                    <form class="form-student-add-doc-new-reply justify-content-between" method="post" role="form"
                                                          th:object="${newAnswer}"
                                                          th:id="'reply-content-form'+${myQuestion.questionId}">
                                                        <div class="">
                                                            <input type="text" name="docId" th:value="${document.getId()}" readonly hidden>
                                                            <input type="text" name="quesId" th:value="${myQuestion.questionId}" readonly hidden>
                                                            <label th:id="'new-reply-content-error-'+${myQuestion.questionId}" class=".student_input-label error-input">Content require!</label>
                                                            <div class="form-content">
                                                                <label th:for="'new-reply-content-'+${myQuestion.questionId}" class="lec_input-label-reply">Enter answer:</label>
                                                                <textarea th:id="'new-reply-content-'+${myQuestion.questionId}" class="input-reply-content"
                                                                          th:field="*{answer}" required></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="submit-reply-button">
                                                            <button type="button" title="exist" th:id="'exist-reply-form-button-'+${myQuestion.questionId}" th:question-id="${myQuestion.questionId}" onclick="existFormReplyQuestion(this.getAttribute('question-id'))"><i class="fa-solid fa-xmark"></i></button>
                                                            <a type="button" title="Sending" style="display:none;"  th:id="'sending-reply-'+${myQuestion.questionId}" th:question-id="${myQuestion.questionId}"><i class="fas fa-spinner fa-spin"></i> Sending...</a>
                                                            <button type="button" title="Send" th:id="'send-reply-button-'+${myQuestion.questionId}" th:question-id="${myQuestion.questionId}" onclick="submitFormReplyQuestion(this.getAttribute('question-id'))"><i class="fa-solid fa-paper-plane"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="stu__question-in-doc-content" th:if="${questions ne null } AND ${questions.size} > 0">
                                        <h5 class="others-question-header">Others' questions</h5>
                                        <div class="stu__question-content" th:each="question : ${questions}">
                                            <h6 class="stu__question-creater-name"><i class="fa-solid fa-user"></i> <span th:text="${question.studentName}"></span></h6>
                                            <p class="stu__question-content" th:utext="${question.questionContent}"></p>
                                            <p class="stu__answer-date stu__question-content" th:text="${question.lastModifiedDate}">Lecturer: <span class="stu__answer-lecturer" th:if="${question.lecturerName ne null}" th:text="${question.lecturerName}"></span></p>
                                            <p  th:if="${question.totalAnswers} > 0" th:id="'view-more-reply-'+${question.questionId}" th:question-id="${question.questionId}" onclick="viewMoreReply(this.getAttribute('question-id'))"  class="view-question-reply stu__question-content">View <span th:text="${question.totalAnswers}"></span> reply</p>
                                            <p style="display:none;"  th:if="${question.totalAnswers} > 0" th:id="'see-less-reply-'+${question.questionId}" th:question-id="${question.questionId}" onclick="seeLessReply(this.getAttribute('question-id'))"  class="view-question-reply stu__question-content">See less</p>
                                            <p style="display:none;"  th:id="'loading-reply-'+${question.questionId}" th:question-id="${question.questionId}" class="view-question-reply stu__question-content"><i class="fas fa-spinner fa-spin"></i> Loading more reply...</p>
                                            <!--                                        View reply-->
                                            <div class="reply-content" th:id="'list-reply-content-'+${question.questionId}">

                                            </div>
                                        </div>
                                    </div>
                                </div>

<!--                                <div class="list-view-inline bot-doctype-list">-->
<!--                                    <form action="" method="" class="form-chose-doc-type">-->

<!--                                        <input name="docType" type="radio" id="radio-bot-1" value="All">-->
<!--                                        <label for="radio-bot-1">All</label>-->

<!--                                        <input name="docType" type="radio" id="radio-bot-2" value="Reading">-->
<!--                                        <label for="radio-bot-2">Reading</label>-->

<!--                                        <input name="docType" type="radio" id="radio-bot-3" value="Lecturer Notes">-->
<!--                                        <label for="radio-bot-3">Lecturer Notes</label>-->

<!--                                        <input name="docType" type="radio" id="radio-bot-4" value="Reading">-->
<!--                                        <label for="radio-bot-4">Reading</label>-->

<!--                                        <input name="docType" type="radio" id="radio-bot-5" value="Reading">-->
<!--                                        <label for="radio-bot-5">Reading</label>-->

<!--                                        <input name="docType" type="radio" id="radio-bot-6" value="Reading">-->
<!--                                        <label for="radio-bot-6">Reading</label>-->
<!--                                    </form>-->
<!--                                </div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--Bootstrap script-->
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<!--Custom script-->
<script th:src="@{/js/student/student.js}"></script>
<!-- CK Editor-->
<script th:src="@{/assets/ckeditor5/build/ckeditor.js}"></script>
<script th:inline="javascript" th:src="@{/js/student/student-doc-detail.js}"></script>
<script>
    var isHighlighting = false;

    $(document).ready(function() {
        $(document).on('mouseup', function(e) {
            var selectedText = window.getSelection().toString();

            if (selectedText !== '') {
                isHighlighting = true;
                var noteSticker = $('.note-sticker');
                noteSticker.css({ top: e.pageY, left: e.pageX });
                noteSticker.fadeIn();

                $('#noteText').val('');
            }
        });

        $(document).on('click', function(e) {
            var noteSticker = $('.note-sticker');

            if (noteSticker.is(':visible')) {
                if (!noteSticker.is(e.target) && noteSticker.has(e.target).length === 0 && !isHighlighting) {
                    noteSticker.fadeOut(); // Ẩn khung note
                }
            }

            isHighlighting = false;
        });
    });

    function saveNote() {
        var selectedText = window.getSelection().toString();
        var noteText = $('#noteText').val();

        // Gửi dữ liệu lưu note vào server, sử dụng Ajax
        $.ajax({
            url: '/notes',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ text: noteText }),
            success: function(response) {
                // Xử lý phản hồi từ server
                if (response.success) {
                    var highlightedText = $('<span>').addClass('highlight').text(selectedText);

                    // Thay thế đoạn bôi đen bằng đoạn bôi đen đã làm nổi bật
                    window.getSelection().getRangeAt(0).surroundContents(highlightedText);
                } else {
                    // Xử lý khi lưu không thành công
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                // Xử lý lỗi
            }
        });

        $('.note-sticker').fadeOut();
    }
</script>
<script th:inline="javascript">
    var successParam = [[${param.success}]];
    if (successParam) {
        Swal.fire(
            'Success!',
            'Save note successful!',
            'success'
        );
    }

    var errorParam = [[${param.error}]];
    if (errorParam) {
        Swal.fire(
            'Error!',
            'Please check note information again!',
            'error'
        );
    }

</script>
</body>
</html>