<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <!--    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">-->

    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/feedback.css}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/student.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

    <style>
        label.error {
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            color: red;
            /*font-size: smaller;*/
        }
    </style>

    <title>Send feedback</title>
</head>

<body class="app_container">
<div th:replace="~{fragments/header::studentHeaderSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: studentSidebar('send-feedback')}"></div>
                    </div>

                    <div class="main" id="main">
                        <div class="row align-items-stretch no-gutters contact-wrap">
                            <div class="col-md-8">
                                <div class="form h-100">
                                    <h3>Send feedback</h3>
                                    <form class="mb-5" th:action="@{/student/feedbacks/add}" method="post"
                                          th:object="${feedback}">
                                        <div class="row">
                                            <div class="col-md-4 form-group mb-5">
                                                <label for="name" class="col-form-label">Name</label>
                                                <input type="text" th:value="${loggedInUser.name}" class="form-control"
                                                       name="name" id="name" placeholder="Your name" readonly>
                                            </div>
                                            <!-- Email Field -->
                                            <div class="col-md-4 form-group mb-5">
                                                <label for="email" class="col-form-label">Email *</label>
                                                <input type="text" th:value="${loggedInUser.email}" class="form-control"
                                                       name="email" id="email" placeholder="Your email" readonly>
                                            </div>
                                            <div class="col-md-4 form-group mb-5">
                                                <label for="role" class="col-form-label">Role</label>
                                                <input type="text" th:value="${loggedInUser.role}" class="form-control"
                                                       name="role" id="role" placeholder="Role #" readonly>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 form-group mb-5">
                                                <label class="col-form-label">How was your experience with the E-resource site? </label>
                                                <div class="emoji">
                                                    <div class="container">
                                                        <div class="item">
                                                            <label for="0">
                                                                <input th:field="*{feedbackEmotion}" class="radio" type="radio" name="feedback" id="0" value="Bad">
                                                                <span>🤬</span>
                                                            </label>
                                                        </div>

                                                        <div class="item">
                                                            <label for="1">
                                                                <input th:field="*{feedbackEmotion}" class="radio"  type="radio" name="feedback" id="1" value="Good">
                                                                <span>🙁</span>
                                                            </label>
                                                        </div>

                                                        <div class="item">
                                                            <label for="2">
                                                                <input th:field="*{feedbackEmotion}" class="radio" type="radio" name="feedback" id="2" value="Very Good">
                                                                <span>😶</span>
                                                            </label>
                                                        </div>

                                                        <div class="item">
                                                            <label for="3">
                                                                <input th:field="*{feedbackEmotion}" class="radio" type="radio" name="feedback" id="3" value="Satisfied">
                                                                <span>😁</span>
                                                            </label>
                                                        </div>

                                                        <div class="item">
                                                            <label for="4">
                                                                <input th:field="*{feedbackEmotion}" class="radio" type="radio" name="feedback" id="4" value="Very Satisfied">
                                                                <span>😍</span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <input type="hidden" th:value="Pending" th:field="*{status}" >

                                        <!-- Feedback Content Field -->
                                        <div class="row">
                                            <div class="col-md-12 form-group mb-5">
                                                <label for="feedbackContent" class="col-form-label">Do you have message for us? *</label>
                                                <textarea class="form-control" th:field="*{feedbackContent}"
                                                          id="feedbackContent" cols="30" rows="4"
                                                          placeholder="Write your feedback"></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <input type="submit" value="Send Message"
                                                       class="btn btn-primary rounded-0 py-2 px-4">
                                                <span class="submitting"></span>
                                            </div>
                                        </div>
                                    </form>

                                    <div id="form-message-warning mt-4"></div>
                                    <div id="form-message-success">
                                        Your message was sent, thank you!
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="contact-info h-100">
                                    <h3>Contact Information</h3>
                                    <p class="mb-5">Thư viện số Trường Đại Học FPT</p>
                                    <ul class="list-unstyled">
                                        <li class="d-flex">
                                            <span class="wrap-icon icon-room mr-3"></span>
                                            <span class="text">Thạch Thất, Hòa Lạc</span>
                                        </li>
                                        <li class="d-flex">
                                            <span class="wrap-icon icon-phone mr-3"></span>
                                            <span class="text">+1 (291) 939 9321</span>
                                        </li>
                                        <li class="d-flex">
                                            <span class="wrap-icon icon-envelope mr-3"></span>
                                            <span class="text">ers@mywebsite.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<!--Bootstrap script-->
<script th:src="@{/assets/bootstrap-dist/js/bootstrap.bundle.min.js}"
        crossorigin="anonymous"></script>
<!--Custom script-->
<script th:src="@{/js/student/student.js}"></script>
<script th:src="@{/js/student/feedback.js}"></script>

<script th:inline="javascript">
    var btn1 = document.querySelector('#green');
    var btn2 = document.querySelector('#red');
</script>

</body>
</html>
