<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FPT University E-Resources</title>
  <!-- CSS -->
  <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

  <link rel="stylesheet" th:href="@{/css/styles/guest.css}">
  <link rel="stylesheet" th:href="@{/css/base.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment.css}"/>



</head>
<body>
<div class="app_container">

  <div th:replace="~{fragments/header::guestHeaderSection}"></div>
  <div th:replace="~{common/login}"></div>
  <!--  Main-->
  <!--  slide-->

  <div class="mySlides w3-display-container w3-center ">
    <img th:src="@{/images/guest/library_design1.png}" alt="library1" style="width:100%; filter: brightness(40%);">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <div class="text-text">FPT University <br> E-resources System</div>
    </div>
  </div>

  <div id="content">
    <div class="content-section">
      <h2 class="section-heading">Hệ thống tài nguyên học tập số Trường đại học FPT </h2>
      <p class="section-sub-heading">Nơi cung cấp và tìm kiếm các tài liệu học tập số</p>
      <p class="about-text">
        <i>"Thư viện có truyền thống là người giữ gìn quá khứ nhưng ngày nay
          thư viện ngày mỗi ngày trở thành đường dẫn tới tương lai” </i>– Sharon White.
        <br>
        <br>
        Tài liệu trong thư viện truyền thống có từ lâu đời thường mang
        những thông tin có tính chất lưu trữ từ đời này sang đời khác. Người ta
        xem đó như là món quà di sản của tổ tiên chúng ta dành để cất giữ quá
        khứ và để phục vụ cho nhu cầu tìm về với cội nguồn. Nếu những tài
        liệu đó chứa trong những cơ sở giáo dục thì được gọi là “Học liệu” (Tài
        liệu học tập).
        <br>
        Nhu cầu tìm kiếm thông tin ngày càng cao và mục đích
        có thay đổi. Người ta tìm kiếm thông tin chủ yếu là để giải quyết những
        công việc hằng ngày (học tập, nghiên cứu, quản lý, sản xuất, vv…).
        Nhờ gắn liền với CNTT, những loại hình tài liệu mới được ra đời đã
        đáp ứng nhu cầu tìm tin của con người và mang một thuật ngữ mới là
        Tài nguyên số – E-Resources.
        <br>
        <br>

        Bắt kịp với xu hướng đó, <b>hệ thống tài nguyên học tập số của Đại học FPT</b> được hình thành
        với việc xây dựng Tài nguyên học tập phục vụ công tác học tập, giảng dạy,
        và nghiên cứu mang một tính cách đặc thù.
        Hệ thống cung cấp một loạt các chức năng tìm kiếm, xem và tương tác với tài nguyên học tập số.
        Sinh viên có thể truy cập vào các tài liệu tham khảo, lecturer-notes
        và đa dạng các loại tài nguyên liên quan tới môn học.
        Ngoài ra, sinh viên cũng có thể tương tác với chúng thông qua việc ghi chú hoặc đặt câu hỏi trực
        tiếp với giảng viên. Kho lưu trữ ghi chú và câu hỏi được cá nhân hóa giúp sinh viên có thể dễ dàng
        quản lý những gì đã đọc và nghiên cứu.

      </p>

      <div class="member-list">
        <div class="member-item">
          <p class="member-name">Nhanh chóng</p>
          <img class="member-img" th:src="@{/images/guest/library1.jpg}" alt="library1" style="width:100%">
        </div>
        <div class="member-item">
          <p class="member-name">Tiện lợi</p>
          <img class="member-img" th:src="@{/images/guest/library2.jpg}" alt="library2" style="width:100%">

          <!--                    <img src="./images/bandmember.jpg" alt="Name" class="member-img">-->
        </div>
        <div class="member-item">
          <p class="member-name">Dễ dàng</p>
          <img class="member-img" th:src="@{/images/guest/library3.jpg}" alt="library3" style="width:100%">

          <!--                    <img src="./images/bandmember.jpg" alt="Name" class="member-img">-->
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <div th:replace="~{fragments/footer :: footerSection}"></div>
</div>
<script th:src="@{/js/guest.js}"></script>
<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>

</body>
</html>

