<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian | Add Training Type</title>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link th:href="@{/css/styles/librarian.css}" rel="stylesheet">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- SweetAlert từ CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">

        <style>
            label.error {
                margin-top: 5px;
                margin-left: 5px;
                display: block;
                color: red;
                /*font-size: smaller;*/
            }
            body {
                font-size: 1.3rem;
            }
            .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
                font-size: 1.3rem;
            }
            .btn {
                font-size: 1.3rem;
            }
        </style>
</head>
<body class="app_container">

<header th:replace="~{fragments/header::headerLibrarianSection}"></header>
<div class="main_content">
    <div class="grid app__container-content-wrapper">
        <div class="app__container-content">
            <div class="course-details-head">
                <a th:href="@{/admin}">Home</a>
                <span> &gt; <a th:href="@{/admin/trainingtypes/list}">Training type management</a></span>
                <span> &gt; Add new training type</span>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Add training type</h1>

            </div>
            <div class="lib_content">
                <div class="lib_form">

                    <div class="lib_content-table">
                        <div class="lib_form-table">

                            <div class="add-form-content">
                                <form method="post" role="form" th:action="@{/admin/trainingtypes/add}"
                                      th:object="${trainingType}" th:id="add-trainingType">
                                    <table class="table-form lib_table">


                                        <tr class="lib_input-wrapper">
                                            <td class="lib_input-label"><label th:for="trainingTypeName">Training type name*</label>
                                            </td>
                                            <td><input type="text"  th:id="trainingTypeName"
                                                       class="lib_input form-control" th:field="*{trainingTypeName}"
                                                       placeholder="Enter training type name" required>

                                            </td>
                                        </tr>
                                        <tr class="lib_input-wrapper">
                                            <td class="lib_input-label"><label th:for="trainingTypeDescription">
                                                Training type description*</label>
                                            </td>
                                            <td><textarea class="lib_textarea form-control paragraph"
                                                          th:id="trainingTypeDescription"
                                                          th:field="*{trainingTypeDescription}"
                                                       placeholder="Enter training type description" required >
                                                </textarea>

                                            </td>
                                        </tr>

                                        <tr class="lib_input-wrapper">
                                            <td class="lib_input-label"><label th:for="trainingTypeDescription">
                                                Courses of training type</label>
                                            </td>
                                            <td>

                                                <select id="select-multiple-course" th:field="*{courses}"  class="form-control selectpicker show-tick"  data-style="btn-white" multiple data-live-search="true"  >
                                                    <option selected disabled th:value="0">Choose a course</option>
                                                    <option th:each="course : ${allCourses}" th:value="${course.getId()}"
                                                            th:text="${course.getCourseName()}"></option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <button type="submit" class="btn lib_btn-save">Save</button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<!--Bootstrap script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


<!--Custom script-->

<!--Validate-->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script th:src="@{/js/validation.js}"></script>

<script th:inline="javascript">
    var successMessage = /*[[${success}]]*/ null;
    var errorMessage = /*[[${error}]]*/ null;

    document.addEventListener('DOMContentLoaded', function () {
        if (successMessage) {
            Swal.fire({
                title: 'Success',
                text: successMessage,
                icon: 'success',
                confirmButtonText: 'Ok'
            });
        }

        if (errorMessage) {
            Swal.fire({
                title: 'Error',
                text: errorMessage,
                icon: 'error',
                confirmButtonText: 'Ok'
            });
        }
    });
</script>
</body>
</html>
