<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Resource Librarian Dashboard</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link
            rel="stylesheet"
            th:href="@{/css/librarian.css}"
    />
  </head>
  <body>
    <div class="app_container">

      <div class="row" th:replace="fragments/header::headerSection"></div>
      <!-- Content -->
      <main class="main_content">
        <div class="container">
          <div class="container-content">
            <div class="row" th:replace="fragments/sidebar::librarianSidebar"></div>
          </div>
        </div>
      </main>

      <!-- Footer -->
      <div class="row" th:replace="fragments/footer :: footerSection"></div>
    </div>
    <script th:src="@{/js/librarian.js}"></script>
  </body>
</html>
