<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian | Course | Update topic</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link th:href="@{/css/styles/librarian.css}" rel="stylesheet">
</head>
<body class="app_container">

<header th:replace="~{fragments/header::headerLibrarianSection}"></header>
<div class="main_content">
    <div class="grid app__container-content-wrapper">
        <div class="app__container-content">
            <div class="sidebar librarianCourseSidebar">


                <div class="course-details-head">
                    <a th:href="@{/librarian}">Home</a>
                    <span> >
                    <a th:href="@{'/librarian/courses/' + ${course.courseId}}"
                       th:text="|${course.courseCode} - ${course.courseName}|"></a>
                     </span>
                    <span> &gt; <a
                            th:href="@{'/librarian/courses/addTopic/' + ${course.courseId}}">Update topic</a> </span>
                </div>
            </div>
            <section>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2 class="h2" th:text="|Update topic to ${course.courseCode}|"></h2>
                </div>
                <div class="lib_content">
                    <div class="lib_update-topic-info row">
                        <div class="lib_update-topic-form col-md-8">
                            <div class="lib_update-form-content">
                                <form method="post" role="form"
                                      th:action="@{'/librarian/courses/updateTopic/' + ${topic.topicId}}"
                                      th:object="${topic}" th:id="add-form">
                                    <h3>Update topic</h3>
                                    <table class="table-form lib_table">
                                        <tr>
                                            <td class="lib_input-label"><label th:for="courseId">Course</label></td>
                                            <td><input type="text"
                                                       class="lib_input form-control hidden" th:field="*{courseId}"
                                                       th:id="courseId"
                                                       placeholder="Enter course ID" readonly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="lib_input-label"><label th:for="topicTitle">Topic Title</label>
                                            </td>
                                            <td><input type="text"
                                                       class="lib_input form-control" th:field="*{topicTitle}"
                                                       placeholder="Enter topic title" required>
                                                <p class="text-danger" th:errors="*{topicTitle}"
                                                   th:if="${#fields.hasErrors('topicTitle')}"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="lib_input-label"><label th:for="topicDescription">Topic
                                                Description</label></td>
                                            <td><textarea
                                                    class="lib_textarea form-control" th:field="*{topicDescription}"
                                                    placeholder="Enter description"></textarea>
                                                <p class="text-danger" th:errors="*{topicDescription}"
                                                   th:if="${#fields.hasErrors('topicDescription')}"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <button type="submit" class="btn lib_btn-save mt-2">Save</button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>

                        <div class="lib_course-general-info  col-md-4">
                            <div class="lib_course-general-info-content">
                                <table class="lib_course-info" th:if="course ne null">
                                    <tr>
                                        <th class="course-info-label">Course</th>
                                        <td th:text="${course.courseCode}"></td>
                                    </tr>
                                    <tr>
                                        <th class="course-info-label"></th>
                                        <td th:text="${course.courseName}"></td>
                                    </tr>
                                    <tr>
                                        <th class="course-info-label"></th>
                                        <td th:text="${course.description}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="lib_course_topics">
                        <!--                        <div th:if="${param.success}">-->
                        <!--                            <div class="alert alert-info">Save course successful !!!</div>-->
                        <!--                        </div>-->
                        <!--                        <div th:if="${param.error}">-->
                        <!--                            <div class="alert alert-danger">Please check course information again !!!</div>-->
                        <!--                        </div>-->
                        <div class="lib_add-new">
                            <a class="lib_btn-add" th:href="@{'/librarian/courses/addTopic/' + ${course.courseId}}">
                                <i class="fa-solid fa-plus"></i>
                                <span>New</span>
                            </a>
                        </div>
                        <div class="lib_topics-content">
                            <table class="lib_course-info-topic numbered-table table table-striped table-sm"
                                   th:if="topics ne null">
                                <tr>
                                    <th class="lib_input-label">Topic</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                                <tr th:each="topic : ${topics}">
                                    <td th:if="topic ne null"><a href=""> <span th:text="${topic.topicTitle}"></span><a
                                    </td>
                                    <td th:if="topic ne null"><span th:text="${topic.topicDescription}"></span></td>
                                    <td>
                                        <div>
                                            <a th:href="@{'/librarian/courses/updateTopic/' + ${topic.topicId}}">Edit</a>
                                            <a class="lib-delete-topic"
                                               th:id="'/' + ${course.courseId} + '/' + ${topic.topicId}">Remove</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <!--        -->
                <!--        -->
                <!--        <div class="add-content">-->
                <!--          <div class="add-form">-->
                <!--            <div th:if="${param.success}">-->
                <!--              <div class="alert alert-info">Save course successful !!!</div>-->
                <!--            </div>-->
                <!--            <div th:if="${param.error}">-->
                <!--              <div class="alert alert-danger">Please check course information again !!!</div>-->
                <!--            </div>-->
                <!--            <div class="add-form-content">-->
                <!--              <table th:if="course ne null">-->
                <!--                <tr>-->
                <!--                  <th>Course</th>-->
                <!--                  <td th:text="| ${course.courseCode} - ${course.courseName}|"></td>-->
                <!--                </tr>-->
                <!--                <tr>-->
                <!--                  <th>Topics</th>-->
                <!--                  <td th:if="topics ne null">-->
                <!--                    <th:block  th:each="topic : ${topics}">-->
                <!--                      <p> <a  th:href="@{'/librarian/courses/updateTopic/'+ ${topic.topicId}}">Edit</a>-->
                <!--                        | <a class="delete-topic" th:id="'/' + ${course.courseId} + '/' + ${topic.topicId}">Remove</a>-->
                <!--                        <a th:text="|${topic.topicTitle} : ${topic.topicDescription}|"> </a>-->
                <!--                      </p>-->
                <!--                    </th:block>-->
                <!--                  </td>-->
                <!--                </tr>-->
                <!--              </table>-->
                <!--              <form method="post" role="form" th:action="@{'/librarian/courses/updateTopic/' + ${topic.topicId}}"-->
                <!--                    th:object="${topic}" th:id="add-form">-->
                <!--                <h3>Update topic</h3>-->
                <!--                <table class="table-form add-table">-->
                <!--                  <tr>-->
                <!--                    <td><label th:for="courseId">Course ID</label></td>-->
                <!--                    <td><input type="text" th:id="courseId"-->
                <!--                               class="form-control hidden" th:field="*{courseId}" readonly>-->
                <!--                    </td>-->
                <!--                  </tr>-->
                <!--                  <tr>-->
                <!--                    <td><label th:for="topicId">Topic ID</label></td>-->
                <!--                    <td><input type="text"-->
                <!--                               class="form-control hidden" th:field="*{topicId}" readonly>-->
                <!--                    </td>-->
                <!--                  </tr>-->
                <!--                  <tr>-->
                <!--                    <td><label th:for="topicTitle">Topic Title</label></td>-->
                <!--                    <td><input type="text"-->
                <!--                               class="form-control" th:field="*{topicTitle}"-->
                <!--                               placeholder="Enter topic title" required>-->
                <!--                      <p class="text-danger" th:errors="*{topicTitle}"-->
                <!--                         th:if="${#fields.hasErrors('topicTitle')}"></p>-->
                <!--                    </td>-->
                <!--                  </tr>-->
                <!--                  <tr>-->
                <!--                    <td><label th:for="topicDescription">Topic Description</label></td>-->
                <!--                    <td><input type="text"-->
                <!--                               class="form-control" th:field="*{topicDescription}"-->
                <!--                               placeholder="Enter description">-->
                <!--                      <p class="text-danger" th:errors="*{topicDescription}"-->
                <!--                         th:if="${#fields.hasErrors('topicDescription')}"></p>-->
                <!--                    </td>-->
                <!--                  </tr>-->
                <!--                  <tr>-->
                <!--                    <td></td>-->
                <!--                    <td>-->
                <!--                      <button type="submit" class="btn btn-save">Save</button>-->
                <!--                    </td>-->
                <!--                  </tr>-->
                <!--                </table>-->
                <!--              </form>-->
                <!--            </div>-->
                <!--          </div>-->
                <!--        </div>-->
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<!--Custom script-->
<script th:src="@{/js/librarian.js}"></script>

<!--Bootstrap script-->
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>