<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Librarian | Update course</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/base.css}"/>
  <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
  <link th:href="@{/css/styles/librarian.css}" rel="stylesheet">

  <!-- SweetAlert từ CDN -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">

  <style>
    label.error {
      margin-top: 5px;
      margin-left: 5px;
      display: block;
      color: red;
      /*font-size: smaller;*/
    }
  </style>
</head>
<body class="app_container">

<header class="row" th:replace="~{fragments/header::headerLibrarianSection}"></header>
<div class="main_content">
  <div class="grid app__container-content-wrapper">
    <div class="app__container-content">
      <div class="course-details-head">
        <a th:href="@{/librarian}">Home</a>
        <span> &gt; <a th:href="@{/librarian/courses/list}">Courses management</a></span>
        <span> &gt; <a th:href="@{'/librarian/courses/' + ${course.courseId} }" th:text="|${course.courseCode} - ${course.courseName}|">

        </a></span>
        <span> &gt; Update course</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Update course</h1>

      </div>
      <div class="lib_content">
        <div class="add-form">
          <div th:if="${param.success}">
            <div class="alert alert-info">Save course successful !!!</div>
          </div>
          <div th:if="${param.error}">
            <div class="alert alert-danger">Please check course information again !!!</div>
          </div>
          <div class="add-form-content">
            <form method="post" role="form" th:action="@{/librarian/courses/add}"
                  th:object="${course}" th:id="update-form">
              <table class="table-form lib_table">
                <tr>
                  <td class="lib_input-label"><label th:for="courseCode">Course Code</label></td>
                  <td><input type="text" th:id="courseCode"
                             class="lib_input form-control" th:field="*{courseCode}"
                             placeholder="Enter course code" required>
                    <p class="text-danger" th:errors="*{courseCode}"
                       th:if="${#fields.hasErrors('courseCode')}"></p>
                  </td>
                </tr>
                <tr>
                  <td class="lib_input-label"><label th:for="courseName">Course Name</label></td>
                  <td><input type="text" th:id="courseName"
                             class="lib_input form-control" th:field="*{courseName}"
                             placeholder="Enter course name" required>
                    <p class="text-danger" th:errors="*{courseName}"
                       th:if="${#fields.hasErrors('courseName')}"></p>
                  </td>
                </tr>

                <tr>
                  <td class="lib_input-label"><label th:for="description">Description</label></td>
                  <td><textarea type="text" th:id="description"
                                class="lib_input form-control" th:field="*{description}"
                                placeholder="Enter description" ></textarea>
                  </td>
                </tr>
<!--                <tr>-->
<!--                  <td class="lib_input-label"><label th:for="lesson">Lessons</label></td>-->
<!--                  <td><input type="text"-->
<!--                             class="lib_input form-control" name="lesson" th:id="lesson"-->
<!--                             placeholder="Enter lessons"/>-->
<!--                  </td>-->
<!--                </tr>-->
                <tr>
                  <td class="lib_input-label"><label th:for="lecturer">Lecturers</label></td>
                  <td><textarea type="text"
                                class="lib_input form-control" name="lecturer" th:id="lecturer"
                                readonly></textarea>
                  </td>
                </tr>
                <tr>
                  <td class="lib_input-label"><label th:for="lecturerSelection">Lecturers</label></td>
                  <td><select class="lib_input" name="lecturerSelection" th:id="lecturerSelection">
                    <option th:each="lecturer : ${lecturers}"
                            th:text="|${lecturer.username} ( ${lecturer.name} )|"
                            th:value="${lecturer.accountId}">
                    </option>
                  </select>
                  </td>
                </tr>
                <tr>
                  <td class="lib_input-label"><label th:for="majorSelection">Major</label></td>
                  <td><select  th:field="*{major}" name="major" th:id="majorSelection">
                    <option th:each="major : ${majors}"
                            th:text="${major.getDisplayValue()}"
                            th:value="${major}"
                    >
                    </option>
                  </select>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <button type="submit" class="btn lib_btn-save">Save</button>
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>

<!--Custom script-->
<script th:src="@{/js/librarian.js}"></script>

<!--Bootstrap script-->
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


<!--Validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script th:src="@{/js/validation.js}"></script>

<script th:inline="javascript">
  validate_updateCourse();

  var successParam = [[${param.success}]];
  if (successParam) {
    Swal.fire(
            'Success!',
            'Save course successful!',
            'success'
    );
  }

  var errorParam = [[${param.error}]];
  if (errorParam) {
    Swal.fire(
            'Error!',
            'Please check course information again!',
            'error'
    );
  }
</script>
</body>
</html>