<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian | Course | Add topic</title>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link th:href="@{/css/styles/librarian.css}" rel="stylesheet">

    <!-- SweetAlert từ CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">

    <style>
        label.error {
            margin-top: 5px;
            margin-left: 5px;
            display: block;
            color: red;
            /*font-size: smaller;*/
        }
    </style>

</head>
<body class="app_container">

<header th:replace="~{fragments/header::headerLibrarianSection}"></header>
<div class="main_content">
    <div class="grid app__container-content-wrapper">
        <div class="app__container-content">
            <div class="sidebar librarianCourseSidebar">


                <div class="course-details-head">
                    <a th:href="@{/librarian}">Home</a>
                    <span> &gt; <a th:href="@{/librarian/courses/list}">Courses management</a></span>
                    <span> >

                    <a th:href="@{'/librarian/courses/' + ${course.courseId}}"
                       th:text="|${course.courseCode} - ${course.courseName}|"></a>
                     </span>
                    <span> &gt; Add topic </span>
                </div>
            </div>
            <section>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2 class="h2" th:text="|Add topic to ${course.courseCode}|"></h2>

                </div>
                <div class="lib_content">
                    <div class="add-form">

                        <div class="add-form-content">
                            <table class="lib_course-info-topic" th:if="course ne null">
                                <tr>
                                    <th class="lib_input-label">Course</th>
                                    <td th:text="| ${course.courseCode} - ${course.courseName}|"></td>
                                </tr>
                                <tr>
                                    <th class="lib_input-label">Topics</th>
                                    <td th:if="topics ne null">
                                        <th:block th:each="topic : ${topics}">
                                            <a th:text="|${topic.topicTitle} : ${topic.topicDescription}|"></a>
                                            <div>
                                                <a th:href="@{'/librarian/courses/updateTopic/' + ${topic.topicId}}">Edit</a>
                                                <a class="delete-topic"
                                                     th:id=" ${course.courseId} + '/' + ${topic.topicId}">Remove</a>
                                            </div>
                                        </th:block>
                                    </td>
                                </tr>
                            </table>
                            <form method="post" role="form" th:action="@{/librarian/courses/addTopic}"
                                  th:object="${topic}" th:id="add-topic">
                                <h3>Add topic</h3>
                                <table class="table-form lib_table">
                                    <tr>
                                        <td class="lib_input-label"><label th:for="courseId">Course ID</label></td>
                                        <td><input type="text"
                                                   class="lib_input form-control hidden" th:field="*{courseId}" th:id="courseId"
                                                   placeholder="Enter course ID" readonly>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="lib_input-label"><label th:for="topicTitle">Topic Title</label></td>
                                        <td><input type="text" th:id="topicTitle"
                                                   class="lib_input form-control" th:field="*{topicTitle}"
                                                   placeholder="Enter topic title" required>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="lib_input-label"><label th:for="topicDescription">Topic
                                            Description</label></td>
                                        <td><textarea th:id="topicDescription"
                                                   class="lib_textarea form-control" th:field="*{topicDescription}"
                                                      placeholder="Enter description"></textarea>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button type="submit" class="btn lib_btn-save mt-2">Save</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<!--Bootstrap script-->
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<!--Validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script th:src="@{/js/validation.js}"></script>
<!--Custom script-->
<script th:src="@{/js/librarian.js}"></script>


<script th:inline="javascript">
    validate_addTopic();

    var successParam = [[${param.success}]];
    if (successParam) {
        Swal.fire(
            'Success!',
            'Save course successful!',
            'success'
        );
    }

    var errorParam = [[${param.error}]];
    if (errorParam) {
        Swal.fire(
            'Error!',
            'Please check course information again!',
            'error'
        );
    }
</script>

</body>
</html>