<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User management</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/styles/librarian.css}" />
  </head>
  <body>
    <div class="app_container">
      <!-- Header -->
      <div class="row" th:replace="fragments/header::headerSection"></div>

      <!-- Content -->
      <main class="main_content">
        <div class="container">
          <div class="container-content">
            <div class="content-body">
              <div class="user-management-head">
                <a th:href="@{/templates/librarian}">Home</a>
                <span> &gt; <a href="#"> User Management</a> </span>
              </div>
              <div class="">
                <div class="search-container">
                  <form action="">
                    <input class="search-content" type="text" placeholder="Search user.." name="search" id="search-text"/>
                    <button class="btn" type="submit">
                      <i class="fa fa-search"></i> Search
                    </button>
                    <a class="btn btn-add" type="button" th:href="@{/librarian/accounts/add}">Add new user</a>
                    <a class="btn btn-showAll" type="button" th:href="@{/librarian/accounts/list}">Show AlL</a>
                  </form>
                </div>
              </div>

              <div th:if="${accounts ne null}">
                <table class="list-model-table">
                  <tr class="n8">
                    <th>Email</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>IsAdmin</th>
                    <th>Campus</th>
                    <th></th>
                  </tr>
                  <th:block th:each="account : ${accounts}">
                    <tr>
                      <td th:text="${account.email}"></td>
                      <td th:text="${account.name}"></td>
                      <td th:text="${account.role}"></td>
                      <td><input type="checkbox" name="IsAdmin" /></td>
                      <td th:text="${account.campus}"></td>
                      <td colspan="2">
                        <a th:path="@{/librarian/accounts/update}" th:id="${account.accountId}">Update</a>
                        <a th:path="@{/librarian/accounts/delete}" th:id="${account.accountId}">Delete</a>
                      </td>
                    </tr>
                  </th:block>
                </table>
              </div>
            </div>
          </div>

        </div>

      </main>

      <!-- Footer -->
      <div class="row" th:replace="fragments/footer :: footerSection"></div>
    </div>

<!--    <script src="/js/librarian.js"></script>-->
  </body>
</html>
