<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link
        rel="stylesheet"
        th:href="@{/css/librarian.css}"
/>
<body th:fragment="footerSection">
<footer class="footer">
    <p>&copy; 2023 - FPT Education. All rights reserved.</p>
    <a href="#">About us</a>
</footer>
</body>
</html>



