<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!--LIBRARIAN HEADER-->
<body th:fragment="headerLibrarianSection">
<header class="header header-librarian">
    <div class="grid">
        <!-- Header navbar -->
        <nav class="header__navbar grid">
            <h2 class="header__system-name header__navbar-list grid__column-1">
                E-Resources
            </h2>
            <a href="/" class="header__logo-link grid__column-2">
                <div class="header__logo">
                    <img alt="" th:src="@{/images/fptUniversityLogo.png}">
                </div>
            </a>
            <ul class="header__navbar-list grid__column-7">
                <li class="header__navbar-item header__notify-appearance">
                    <a href="" class="header__navbar-item-link">
                        <i class="header__navbar-icon fas fa-bell"></i>
                    </a>
                    <!--Notifications Header-->
                    <div class="header__notify header__bridge">
                        <header class="header__notify-header">
                            <h3>Received Notifications</h3>
                        </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-item--seen">
                                <a href="" class="header__notify-link">
                                    <img src="" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">User huypqhe151329 has been sent a request</span>
                                        <span class="header__notify-description">
                                            Type: document request, Course: HCM202
                                        </span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <footer class="header__notify-footer">
                            <a href="" class="header__notify-footer-btn">See all</a>
                        </footer>
                    </div>
                </li>
                <!-- <li href="" class="header__navbar-item header__navbar-item--strong header__navbar-item--separate">Login</li>
                          <li href="" class="header__navbar-item header__navbar-item--strong">Sign Up</li> -->
                <li class="header__navbar-item header__navbar-user header__navbar-user-appearance">
                    <div class="header__navbar-user-wrap">
                        <img th:src="@{/images/sample_account/avt.jpg}" alt="" class="header__navbar-user-img">
                        <span class="header__navbar-user-name">Vũ Thanh Tùng </span> <span class="header__navbar-user-role">(Librarian)</span>
                    </div>
                </li>
                <li class="header__navbar-item">
                    <a th:href="@{/logout}" onclick="" class="header__navbar-item-link">
                        <i class="header__navbar-icon fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                        <span class="header__label" >Logout</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</body>

<!--ADMIN HEADER-->
<!--Copy from Librarian header and change name-->
<body th:fragment="headerAdminSection">
<header class="header-librarian">
    <div class="grid">
        <!-- Header navbar -->
        <nav class="header__navbar">
            <h2 class="header__system-name header__navbar-list">
                E-Resources
            </h2>
            <a href="/" class="header__logo-link">
                <div class="header__logo">
                    <img alt="" th:src="@{/images/fptUniversityLogo.png}">
                </div>
            </a>
            <ul class="header__navbar-list">
                <li class="header__navbar-item header__notify-appearance">
                    <a href="" class="header__navbar-item-link">
                        <i class="header__navbar-icon fas fa-bell"></i>
                    </a>
                    <!--Notifications Header-->
                    <div class="header__notify header__bridge">
                        <header class="header__notify-header">
                            <h3>Received Notifications</h3>
                        </header>
                        <ul class="header__notify-list">
                            <li class="header__notify-item header__notify-item--seen">
                                <a href="" class="header__notify-link">
                                    <img src="" alt="" class="header__notify-img">
                                    <div class="header__notify-info">
                                        <span class="header__notify-name">User huypqhe151329 has been sent a request</span>
                                        <span class="header__notify-description">
                                            Type: document request, Course: HCM202
                                        </span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <footer class="header__notify-footer">
                            <a href="" class="header__notify-footer-btn">See all</a>
                        </footer>
                    </div>
                </li>
                <li class="header__navbar-item header__navbar-user header__navbar-user-appearance">
                    <div class="header__navbar-user-wrap">
                        <img th:src="@{/images/sample_account/avt.jpg}" alt="" class="header__navbar-user-img">
                        <span class="header__navbar-user-name">Vũ Thanh Tùng </span> <span class="header__navbar-user-role">(Admin)</span>
                    </div>
                </li>
                <li class="header__navbar-item">
                    <a th:href="@{/logout}" onclick="" class="header__navbar-item-link" style="font-weight: bold">
                        <i class="header__navbar-icon fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                        <span class="header__label" >Logout</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</body>

<!--LECTURER HEADER-->
<body th:fragment="headerLecturerSection">
<!--     Header -->
<header class="header">
    <div class="lec__header-content">
        <!-- Header navbar -->
        <nav class="header__navbar row">
            <div class="sidebar-system col-md-2">
                <div class="sidebar__arrow row">
                    <i id="toggleIdLecturer" class="fa-solid fa-bars col-md-2 sidebar-icon"></i>
                    <h2 class="header__system-name col-md-10">
                        <!-- FPT University-->
                        E-Resources
                    </h2>
                </div>
            </div>
            <a href="/" class="header__logo-link col-md-2">
                <div class="header__logo">
                    <img alt="" th:src="@{/images/fptUniversityLogo.png}">
                </div>
            </a>
            <div class="header__link-list col-md-8">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item header__notify-appearance">
                        <a href="" class="header__navbar-item-link">
                            <i class="header__navbar-icon fas fa-bell"></i>
                            <!--                            Notifications-->
                        </a>
                        <!--Notifications Header-->
                        <div class="header__notify header__bridge">
                            <header class="header__notify-header">
                                <h3>Received Notifications</h3>
                            </header>
                            <ul class="header__notify-list">
                                <li class="header__notify-item header__notify-item--seen">
                                    <a href="" class="header__notify-link">
                                        <img src="" alt="" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <span class="header__notify-name">User huypqhe151329 has been sent a request</span>
                                            <span class="header__notify-description">
                                            Type: document request, Course: HCM202
                                        </span>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                            <footer class="header__notify-footer">
                                <a href="" class="header__notify-footer-btn">See all</a>
                            </footer>
                        </div>
                    </li>
<!--                    <li class="header__navbar-item">-->
<!--                        <a href="" class="header__navbar-item-link">-->
<!--                            <i class="header__navbar-icon far fa-question-circle"></i>-->
<!--                            &lt;!&ndash;                            Help&ndash;&gt;-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="header__navbar-item header__navbar-user header__navbar-user-appearance">
                        <div class="header__navbar-user-wrap">
                            <img th:src="@{/images/sample_account/avt.jpg}" alt="" class="header__navbar-user-img">
                            <span class="header__navbar-user-name">Vũ Thanh Tùng</span> <span class="header__navbar-user-role">(Lecturer)</span>
                        </div>
                        <div class="header__navbar-user-option-list header__bridge">
                            <div class="header__navbar-user-profile">
                                <div class="header__navbar-user-profile-img-wrapper">
                                    <img th:src="@{/images/sample_account/avt.jpg}" alt=""
                                         class="header__navbar-user-profile-img">
                                </div>
                                <div style="min-width: max-content">
                                    <p>Vũ Thanh Tùng</p>
                                    <p>20/02/2001 - Male</p>
                                </div>
                            </div>
                            <div class="student__log-out">
                                <a th:href="@{/logout}">
                                    Log out
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="header__navbar-item">
                        <a th:href="@{/logout}" onclick="" class="header__navbar-item-link" style="font-weight: bold">
                            <i class="header__navbar-icon fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                            <span class="header__label" >Logout</span></a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header__navbar-item-link">
                            <i class="header__navbar-icon far fa-question-circle"></i>
                            <!--                            Help-->
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
</body>

<!--STUDENT HEADER-->

<body th:fragment="studentHeaderSection" >
<!--     Header -->
<header class="header">
    <div class="stu__header-content">
        <!-- Header navbar -->
        <nav class="header__navbar row">
            <div class="sidebar-system col-2">
                <div class="sidebar__arrow row">
                    <i id="toggle" class="fa-solid fa-bars col-2 sidebar-icon"></i>
                    <h2 class="header__system-name col-10">
                        <!-- FPT University-->
                        E-Resources
                    </h2>
                </div>
            </div>
            <a href="/" class="header__logo-link col-2">
                <div class="header__logo">
                    <img alt="" th:src="@{/images/fptUniversityLogo.png}">
                </div>
            </a>
            <div class="header__link-list col-8">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item header__notify-appearance">
                        <a href="" class="header__navbar-item-link">
                            <i class="header__navbar-icon fas fa-bell"></i>
<!--                            Notifications-->
                        </a>
                        <!--Notifications Header-->
                        <div class="header__notify header__bridge">
                            <header class="header__notify-header">
                                <h3>Received Notifications</h3>
                            </header>
                            <ul class="header__notify-list">
                                <li class="header__notify-item header__notify-item--seen">
                                    <a href="" class="header__notify-link">
                                        <img src="" alt="" class="header__notify-img">
                                        <div class="header__notify-info">
                                            <span class="header__notify-name">User huypqhe151329 has been sent a request</span>
                                            <span class="header__notify-description">
                                            Type: document request, Course: HCM202
                                        </span>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                            <footer class="header__notify-footer">
                                <a href="" class="header__notify-footer-btn">See all</a>
                            </footer>
                        </div>
                    </li>
<!--                    <li class="header__navbar-item">-->
<!--                        <a href="" class="header__navbar-item-link">-->
<!--                            <i class="header__navbar-icon far fa-question-circle"></i>-->
<!--&lt;!&ndash;                            Help&ndash;&gt;-->
<!--                        </a>-->
<!--                    </li>-->
                    <!-- <li href="" class="header__navbar-item header__navbar-item--strong header__navbar-item--separate">Login</li>
                              <li href="" class="header__navbar-item header__navbar-item--strong">Sign Up</li> -->
                    <li class="header__navbar-item header__navbar-user header__navbar-user-appearance">
                        <div class="header__navbar-user-wrap">
                            <img th:src="@{/images/sample_account/avt.jpg}" alt="" class="header__navbar-user-img">
                            <span class="header__navbar-user-name">Vũ Thanh Tùng</span> <span  class="header__navbar-user-role">(Student)</span>
                        </div>
                        <div class="header__navbar-user-option-list header__bridge">
                            <div class="header__navbar-user-profile">
                                <div class="header__navbar-user-profile-img-wrapper">
                                    <img th:src="@{/images/sample_account/avt.jpg}" alt=""
                                         class="header__navbar-user-profile-img">
                                </div>
                                <div style="min-width: max-content">
                                    <p>Vũ Thanh Tùng</p>
                                    <p>20/02/2001 - Male</p>
                                </div>
                            </div>
                            <div class="student__log-out">
                                <a th:href="@{/logout}">
                                    Log out
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="header__navbar-item">
                        <a th:href="@{/logout}" onclick="" class="header__navbar-item-link" style="font-weight: bold">
                            <i class="header__navbar-icon fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                            <span class="header__label" >Logout</span></a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header__navbar-item-link">
                            <i class="header__navbar-icon far fa-question-circle"></i>
<!--                                                        Help-->
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
</body>

<!--GUEST HEADER-->

<body th:fragment="guestHeaderSection">
<!--     Header -->
<header class="header header-guest">
    <div class="grid">
        <!-- Header navbar -->
        <nav class="header__navbar">
            <h2 class="header__system-name header__navbar-list">
               E-Resources
            </h2>
            <a href="/" class="header__logo-link col-md-2">
                <div class="header__logo">
                    <img alt="" th:src="@{/images/fptUniversityLogo.png}">
                </div>
            </a>
            <ul class="header__navbar-list">
                <li class="header__navbar-item">
                    <a href="" class="header__navbar-item-link">
                        <i class="header__navbar-icon fas fa-phone"></i>
                        <span class="header__label" >Contact us</span>
                    </a>
                </li>
                <li class="header__navbar-item">
                    <a href="" class="header__navbar-item-link">
                        <i class="header__navbar-icon far fa-question-circle"></i>
                        <span class="header__label" >Help & FAQs</span></a>
                </li>
                <li id="openLoginModal" class="header__navbar-item">
                    <a th:href="@{/login}" class="header__navbar-item-link" style="font-weight: bold">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <span class="header__label">Login</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>