<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<body>
<!-- Lecturer Sidebar  -->
<div class="sidebar" th:fragment="lecturerSidebar">
  <nav th:fragment="lecturerSidebar" id="sidebar">
    <div class="sidebar-header" style="text-align: center;">
      <h5>email@gmail.com</h5>
    </div>

    <ul class="list-unstyled components">

      <li class="active">
        <ul class="collapse list-unStyled" id="">
          <li>
            <a href="#">Notification</a>
          </li>
          <li>
            <a th:href="@{/lecturer/courses/list}">My courses</a>
          </li>
          <li>
            <a href="#">History</a>
          </li>
          <li>
            <a href="#">Question&Answer</a>
          </li>
          <li>
            <a href="#">Requests</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Recent</a>
      </li>
      <li>
        <a href="#">Search</a>
      </li>
    </ul>
  </nav>
</div>

<!-- Librarian Sidebar  -->
<nav th:fragment="librarianSidebar" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
<!--                active-->
                <a id="navAccounts" class="nav-link" aria-current="page" th:href="@{/librarian/accounts/list}">
                    <i class="nav-link__icon fa fa-user" aria-hidden="true"></i>
                    Accounts
                </a>
            </li>
            <li class="nav-item">
                <a id="navCourses" class="nav-link" th:href="@{/librarian/courses/list}">
                    <i class="nav-link__icon fa fa-book" aria-hidden="true"></i>
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a id="navDocuments" class="nav-link" th:href="@{/librarian/documents/list}">
                    <i class="nav-link__icon fa fa-file" aria-hidden="true"></i>
                    Documents
                </a>
            </li>
            <li class="nav-item">
                <a id="navRequests" class="nav-link" th:href="@{/librarian/requests/list}">
                    <i class="nav-link__icon fa fa-paper-plane" aria-hidden="true"></i>
                    Requests
                </a>
            </li>
            <li class="nav-item">
                <a id="navFeedbacks" class="nav-link" th:href="@{/librarian/feedbacks/list}">
                    <i class="nav-link__icon fa fa-comments" aria-hidden="true"></i>
                    Feedbacks
                </a>
            </li>
            <li class="nav-item">
                <a id="navStatistics" class="nav-link" th:href="@{/librarian/statistics}">
                    <i class="nav-link__icon fa fa-database" aria-hidden="true"></i>
                    Statistics
                </a>
            </li>
            <li class="nav-item">
                <a id="navNotifications" class="nav-link" th:href="@{/librarian/notifications}">
                    <i class="nav-link__icon fa fa-bell" aria-hidden="true"></i>
                    Notifications
                </a>
            </li>
            <li class="nav-item">
                <a id="navSettings" class="nav-link" th:href="@{/librarian/settings}">
                    <i class="nav-link__icon fa fa-cog" aria-hidden="true"></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>



<script type="text/javascript">
  $(document).ready(function () {
    $("#sidebarCollapse").on("click", function () {
      $("#sidebar").toggleClass("active");
    });
  });
</script>
</body>
</html>