<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<body>
<!-- Student Library Sidebar  -->
<div class="sidebar" id="sidebar" th:fragment="studentSidebar">
    <nav class="sidebar__container">

        <div class="sidebar__account">
            <div id="toggle" class="sidebar__arrow">
<!--                <i class="fa-solid fa-arrow-circle-right"></i>-->
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="sidebar__content">

            <div class="sidebar__list border-bottom">
                <a href="#" class="sidebar__link">
                    <i class="fa-solid fa-house"></i>
                    <span class="sidebar__link-name">Home</span>
                    <span class="sidebar__link-floating">Home</span>
                </a>
                <a href="#" class="sidebar__link">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="sidebar__link-name">Courses</span>
                    <span class="sidebar__link-floating">Courses</span>
                </a>
            </div>
            <h3 class="sidebar__title">
                <span>Library</span>
            </h3>

            <div class="sidebar__list border-bottom">
                <a href="#" class="sidebar__link active-link">
                    <i class="fa-solid fa-book"></i>
                    <span class="sidebar__link-name">Saved courses</span>
                    <span class="sidebar__link-floating">Saved courses</span>
                </a>

                <a href="#" class="sidebar__link">
                    <i class="fa-solid fa-file"></i>
                    <span class="sidebar__link-name">Saved documents</span>
                    <span class="sidebar__link-floating">Saved documents</span>
                </a>

                <a href="#" class="sidebar__link">
                    <i class="fa-solid fa-note-sticky"></i>
                    <span class="sidebar__link-name">My notes</span>
                    <span class="sidebar__link-floating">My notes</span>
                </a>

                <a href="#" class="sidebar__link">
                    <i class="fa-solid fa-question"></i>
                    <span class="sidebar__link-name">My questions</span>
                    <span class="sidebar__link-floating">My questions</span>
                </a>

                <a href="#" class="sidebar__link">
                    <i class="fa-solid fa-paper-plane"></i>
                    <span class="sidebar__link-name">My requests</span>
                    <span class="sidebar__link-floating">My requests</span>
                </a>
            </div>
            <h3 class="sidebar__title">
                <span>Other</span>
            </h3>
            <div class="sidebar__list">
                <a href="#" class="sidebar__link">
                    <i class="fa-solid fa-hand"></i>
                    <span class="sidebar__link-name">Request documents</span>
                    <span class="sidebar__link-floating">Request documents</span>
                </a>
                <a href="#" class="sidebar__link">
                    <i class="fa-solid fa-comment"></i>
                    <span class="sidebar__link-name">Feedback</span>
                    <span class="sidebar__link-floating">Feedback</span>
                </a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>