<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<body th:fragment="lecturerSidebar(activeLink)">
<!-- Lecturer Sidebar  -->
<div class="sidebar" id="sidebar-lecturer">
    <nav class="sidebar__container">

        <!--        <div class="sidebar__account">-->
        <!--            <div id="toggle" class="sidebar__arrow">-->
        <!--                &lt;!&ndash;                <i class="fa-solid fa-arrow-circle-right"></i>&ndash;&gt;-->
        <!--                <i class="fa-solid fa-bars"></i>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="sidebar__content">

            <div class="sidebar__list border-bottom">
                <a th:href="@{/lecturer}" class="sidebar__link"
                   th:classappend="${#strings.equals(activeLink, 'home')} ? 'active-link' : ''">
                    <i class="fa-solid fa-house"></i>
                    <span class="sidebar__link-name">Home</span>
                    <span class="sidebar__link-floating">Home</span>
                </a>
            </div>
            <h3 class="sidebar__title">
                <span>Library</span>
            </h3>

            <div class="sidebar__list border-bottom">
                <a th:href="@{/lecturer/courses/list}" class="sidebar__link"
                   th:classappend="${#strings.equals(activeLink, 'my-courses-management')} ? 'active-link' : ''">
                    <i class="fa-solid fa-book"></i>
                    <span class="sidebar__link-name">My courses management</span>
                    <span class="sidebar__link-floating">My courses management</span>
                </a>

                <a th:href="@{/lecturer/my_documents/list/all/1}" class="sidebar__link d-none"
                   th:classappend="${#strings.equals(activeLink, 'my-document')} ? 'active-link' : ''">
                    <i class="fa-solid fa-file"></i>
                    <span class="sidebar__link-name">My documents</span>
                    <span class="sidebar__link-floating">My documents</span>
                </a>

                <a th:href="@{/lecturer/questions/list}" class="sidebar__link"
                   th:classappend="${#strings.equals(activeLink, 'question-answer')} ? 'active-link' : ''">
                    <i class="fa-solid fa-question"></i>
                    <span class="sidebar__link-name">Question & Answer</span>
                    <span class="sidebar__link-floating">Question & Answer</span>
                </a>
            </div>
            <h3 class="sidebar__title">
                <span>Other</span>
            </h3>
            <div class="sidebar__list">
                <a th:href="@{/lecturer/notifications}" class="sidebar__link"
                   th:classappend="${#strings.equals(activeLink, 'notifications')} ? 'active-link' : ''">
                    <i title="Notifications" class="fa-solid fa-bell"></i>
                    <span class="sidebar__link-name">All notifications</span>
                    <span class="sidebar__link-floating">All notifications</span>
                </a>
                <a th:href="@{/lecturer/feedbacks/add}" class="sidebar__link"
                   th:classappend="${#strings.equals(activeLink, 'feedback')} ? 'active-link' : ''">
                    <i title="Feedback" class="fa-solid fa-comment"></i>
                    <span class="sidebar__link-name">Feedback</span>
                    <span class="sidebar__link-floating">Feedback</span>
                </a>
                <a href="#" class="sidebar__link d-none"
                   th:classappend="${#strings.equals(activeLink, 'my-history')} ? 'active-link' : ''">
                    <i class="fa-solid fa-note-sticky"></i>
                    <span class="sidebar__link-name">Document issue reports</span>
                    <span class="sidebar__link-floating">Document issue reports</span>
                </a>
                <a th:href="@{/lecturer/login_as_student}" class="sidebar__link"
                   th:classappend="${#strings.equals(activeLink, 'log-as-student')} ? 'active-link' : ''">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span class="sidebar__link-name">Login as student</span>
                    <span class="sidebar__link-floating">Login as student</span>
                </a>
            </div>
        </div>
    </nav>
</div>
</body>


<body th:fragment="studentSidebar(activeLink)">
<!-- Student Sidebar  -->
<div class="sidebar" id="sidebar">
    <nav class="sidebar__container">

        <!--        <div class="sidebar__account">-->
        <!--            <div id="toggle" class="sidebar__arrow">-->
        <!--                &lt;!&ndash;                <i class="fa-solid fa-arrow-circle-right"></i>&ndash;&gt;-->
        <!--                <i class="fa-solid fa-bars"></i>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="sidebar__content">

            <div class="sidebar__list border-bottom">
                <a th:href="@{/student}" class="sidebar__link"
                   th:classappend="${#strings.equals(activeLink, 'home')} ? 'active-link' : ''">
                    <i class="fa-solid fa-house"></i>
                    <span class="sidebar__link-name">Home</span>
                    <span class="sidebar__link-floating">Home</span>
                </a>
                <a th:href="@{/student/courses}" class="sidebar__link"
                   th:classappend="${#strings.equals(activeLink, 'courses')} ? 'active-link' : ''">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="sidebar__link-name">Courses</span>
                    <span class="sidebar__link-floating">Courses</span>
                </a>
            </div>
            <div th:if="${loggedInUser.role.toString().equals('STUDENT')}">
                <h3 class="sidebar__title">
                    <span>Library</span>
                </h3>

                <div class="sidebar__list border-bottom">
                    <a th:href="@{/student/my_library}" class="sidebar__link"
                       th:classappend="${#strings.equals(activeLink, 'my-favourite')} ? 'active-link' : ''">
                        <i class="fa-solid fa-book"></i>
                        <span class="sidebar__link-name">My favourites</span>
                        <span class="sidebar__link-floating">My favourites</span>
                    </a>

                    <a th:href="@{/student/my_library/my_notes/1}" class="sidebar__link"
                       th:classappend="${#strings.equals(activeLink, 'my-note')} ? 'active-link' : ''">
                        <i class="fa-solid fa-file"></i>
                        <span class="sidebar__link-name">My notes</span>
                        <span class="sidebar__link-floating">My notes</span>
                    </a>

                    <a th:href="@{/student/my_library/my_questions/history}" class="sidebar__link"
                       th:classappend="${#strings.equals(activeLink, 'my-question')} ? 'active-link' : ''">
                        <i class="fa-solid fa-question"></i>
                        <span class="sidebar__link-name">My questions</span>
                        <span class="sidebar__link-floating">My questions</span>
                    </a>

                    <a href="#" class="sidebar__link d-none"
                       th:classappend="${#strings.equals(activeLink, 'my-request')} ? 'active-link' : ''">
                        <i class="fa-solid fa-paper-plane"></i>
                        <span class="sidebar__link-name">My requests</span>
                        <span class="sidebar__link-floating">My requests</span>
                    </a>
                </div>
                <h3 class="sidebar__title">
                    <span>Other</span>
                </h3>
                <div class="sidebar__list">
                    <a th:href="@{/student/notifications}" class="sidebar__link"
                       th:classappend="${#strings.equals(activeLink, 'notifications')} ? 'active-link' : ''">
                        <i title="Feedback" class="fa-solid fa-bell"></i>
                        <span class="sidebar__link-name">All notifications</span>
                        <span class="sidebar__link-floating">All notifications</span>
                    </a>
                    <a th:href="@{/student/feedbacks/add}" class="sidebar__link"
                       th:classappend="${#strings.equals(activeLink, 'send-feedback')} ? 'active-link' : ''">
                        <i title="Feedback" class="fa-solid fa-comment"></i>
                        <span class="sidebar__link-name">Feedback</span>
                        <span class="sidebar__link-floating">Feedback</span>

                    </a>
                </div>
            </div>

        </div>
    </nav>
</div>
</body>
</html>