/* common */
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #3E51FF;
    --border-color: #dbdbdb;
    --primary-color: #3E51FF;
    --primary-back-ground: #3E51FF;
}

* {
    box-sizing: inherit;
}

html {
    line-height: 2.0rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* header */
header {
    background-color: var(--primary-back-ground);
    color: white;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin-inline-start: 40px;
}

.header_account a {
    color: white;
    margin: 12px;
}

/* footer */
footer {
    background-color: var(--primary-back-ground);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
}
