/*===== COMMON =====*/
/*===== COMMON =====*/
:root {
    /* Color */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #000;
    --title-color: #e12b1b;
    --border-color: #dbdbdb;
    --hover-color: #5c7af3;
    --header-hover-color: #d5d5d5;
    --bg-hover-color: #e3e6fc;
    --hover-color-2: #CEE8E9;
    /*--gradient-color: white;*/
    /*--primary-color: white;*/
    --gradient-color: #114a9d;
    --primary-color: #0a429d;
    --background-btn-color-hover: #0a429d;
    --background-btn-color: #0d55c5;
    --second-background-btn-color-hover: #efdada;
    --second-background-btn-color: #efdddd;
    --primary-color-rgb: 210, 68, 2;
    --primary-btn-color: #419a1d;
    --lib-dashboard-color: #0a53be;
    --second-back-ground: rgb(240, 234, 234);
    --content-width: 87.5%;
    --link-color: #0b74ec;
    --checked-background-color:#0a58ca;
    --danger-color: #DC3545;
    --disable-link-text-color: #bbb8b8;

    /* Font */
    --body-font: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    /* z-index */
    --z-fixed: 100;

    /* Navbar */
    --header-height: 3.5rem;
    --nav-width: 219px;
    --sidebar-width: 25rem;
}

* {
    box-sizing: border-box;
    font-family: var(--body-font);

}

html {
    font-size: 10px;
    line-height: 2.0rem;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

.app__container-content-wrapper {
    display: flex;
    justify-content: center;
}

/* Transition */
.trans-bgc-ease{
    transition: background-color 0.5s ease;
}

/* Responsive */

.grid {
    width: var(--content-width);
    max-width: 100%;
    margin: 0 auto;
    min-width: 600px;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Demo  */
.grid__column-1 {
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
    width: 10%;

}
.grid__column-2 {
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
    width: 20%;

}
.grid__column-7 {
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
    width: 70%;

}
.grid__column-8{
    width: 80%;
}

.grid__column-3 {
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
    width: 25%;

}

.grid__column-9 {
    width: 75%;
}
.grid__column-90 {
    width: 90%;
}

/* modal  */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    animation: fadeIn linear 0.1s;
    z-index: 10;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    width: 500px;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    border-radius: 5px;
    animation: growthScale linear .2s;
}

.header__bridge::before {
    content: "";
    width: 100%;
    left: 0;
    top: -16px;
    height: 20px;
    position: absolute;
    display: block;
}

/* button  */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    background-color: white;
    color: var(--text-color);
}

.btn--size-s {
    height: 30px;
    width: 220px;
}

.btn--size-s-2 {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 2px;;
}
.btn--size-s-2:hover {
    background-color: var(--bg-hover-color);
}

.btn.btn--hover {
    background-color: var(--second-back-ground);
}

.btn.btn--hover:hover {
    background-color: rgba(0 ,0 ,0 , 0.1);
}


.btn-save {
    background-color: var(--background-btn-color-hover);
    color: white;
    margin-top: 1rem;
}

.btn-save:hover {
    background-color: var(--primary-btn-color);
    color: var(--hover-color-2);
}

.btn.btn--primary {
    background-color: var(--primary-btn-color);
    color: white;

}

.btn--primary:hover {
    background-color: #22620a;
}

.btn.btn--disable {
    cursor: default;
    background-color: #888;
}

.btn.btn--back {
    background-color: #888;
    color: white;
    margin-top: 1rem;
}

.btn.btn--back:hover {
    background-color: #575656;
    color: white;
}

/* Select  */

.select {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-width: 168px;
    height: 36px;
    border-radius: 2px;
    padding: 0 12px;
    background-color: white;
    font-size: 1.4rem;
    position: relative;
    cursor: pointer;
    color: var(--text-color);
}

.select-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: white;
    padding: 4px 0;
    margin-top: 2px;
    margin-bottom: 0px;
    border-radius: 2px;
    box-shadow: 0 0 3px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.select-list::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
    position: absolute;
}

.select:hover .select-list {
    display: block;
}

.select-link:hover {
    background-color: var(--second-back-ground);
    cursor: pointer;
}

.select-item {
    list-style: none;
}

.select-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 6px 12px;
}

/* Pagination  */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination-item {
    list-style: none;
    margin: 0 0.2rem;
}
.pagination-item__link:hover{
    color: black;
    background-color: var(--second-background-btn-color);
}

.pagination-item--active .pagination-item__link{
    color: white;
    background-color: var(--primary-btn-color);
}
.pagination-item--active .pagination-item__link:hover{
    color: white;
    background-color: var(--primary-btn-color);
}

.pagination-item__link {
    --height: 2.5rem;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 3rem;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growthScale{
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Drop down */
.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease;
    opacity: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--second-back-ground);
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}

.course-sidebar{
    /*overflow: scroll;*/
    padding: 1.5em ;
    min-height: 100%;
}
.course-content{
}
.course-content-general{
    padding: 1.5em;
    /*background: #b8eccc;*/
    border-radius: 4rem;
    background: #f4f8f4;
}

.course-info-title{
    display: flex;
    padding-top: 0.7em;
}

.course-info-topics{
    padding: 1.5em;
}

.course-info-link{
    padding: 0 1.5em 1.5em 1.5em;
}

.link-btn{
    padding: 0.4rem;
    background: #afecc4;
    border-radius: 1rem 0.5rem 1rem 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.link-btn:hover{
    background: #8beaa7;
}
.edit-course-info{
}
.link-sidebar{
    width: 100%;
    display: block;
    margin: 0;
    padding: 1em;
    font-size: 1rem;
}
.link-sidebar:hover{
    background: var(--background-btn-color-hover);
}
.course-sidebar-code{
    margin: 0 0 1.5em 0;
}
.link-topics{
    font-size: 1.4rem;
    margin-bottom: 0.4em;
}
.topics-content{
    padding: 0.3rem;
}
.topic-title{
    font-size: 1.8rem;
    margin: 1rem 1rem 0.5rem 0;
}

.link-topic-info{
    font-size: 1.1rem;
    font-weight: bold;
}
.code-archive-except{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*line-height: 24px; !* fallback *!*/
    /*max-height: 72px; !* fallback *!*/
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.table-view{
    table-layout: fixed;
}
.table-view td , .table-view th {
    padding: 0.5rem 1rem;
}
.table-view tr td:first-child{
    width: 5%;
    text-align: center
}
.table-view tr td:last-child{
    width: 55%;
}

.link{
    color: var(--link-color);
}

.list-view-block a ,
.list-view-block input{
    width: 100%;
    padding: 0.7rem 1rem;
}

.list-view-block a:hover ,
.list-view-block input:hover{
    background: var(--second-back-ground);
}

.admin-main-content,
.librarian-main-content{
    padding-top: 2rem;
}

.disabled {
    color: var(--disable-link-text-color);
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}
.doc-info-date{
    color: #888888;
}
.error-input{
    display: none;
}
.require-input, .error-input{
    color: var(--danger-color);
    align-items: start;
}
.view-question-reply{
    cursor: pointer;
    font-weight: var(--font-medium);
    margin-left: 1.2rem;
}

.view-question-reply:hover{
    text-decoration: underline;
    color:var(--link-color) ;
    font-size: var(--medium-font-size);
}

.reply-content{
    margin-left: 1rem;
    padding: 1rem;
}

.paragraph {
    white-space: pre-wrap;
}

/* Important */
.image img {
    width: 100%;
    height: 100%;
}

.manager_search-box {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.manager_left-side {
    flex: 1;
}

.manager_right-side {
    flex: 4;
}

.manager_right-side_element {
    width: 60%;
}

.a-link {
    color:var(--link-color) ;
}