/* common */
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #3E51FF;
    --border-color: #dbdbdb;
    --primary-color: #3E51FF;
    --primary-back-ground: #3E51FF;
}

* {
    box-sizing: inherit;
}

html {
    line-height: 2.0rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* header */
header {
    background-color: var(--primary-back-ground);
    color: white;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    margin-inline-start: 40px;
}

.header_account a {
    color: white;
    margin: 12px;
}

/* footer */
footer {
    background-color: var(--primary-back-ground);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #111d5e;
    color: white;
    padding: 5px 0;
    text-align: center;
    z-index: 999; /* Đảm bảo header hiển thị phía trên cùng của nội dung */
}

/* CSS cho footer */
footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111d5e;
    color: white;
    padding: 5px 0;
    text-align: center;
    z-index: 999; /* Đảm bảo footer hiển thị phía dưới cùng của nội dung */
}

/* CSS cho nội dung chính */
.main_content {
    padding-top: 60px; /* Đảm bảo nội dung không bị che bởi header */
    padding-bottom: 60px; /* Đảm bảo nội dung không bị che bởi footer */
    /* Thêm các thuộc tính khác cho nội dung chính của bạn */
}
