.slider-content {
    position: relative;
}

.slider-content img{
    width: 100%;
}

.slick-initialized .slick-slide {
    margin: 0 5px;
}

.slick-prev {
    position: absolute;
    left: -20px;
    top: 20%;
    transform: translateY(-50%);
    background-color: #161819;
    color: white;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 18px;
}

.slick-next {
    position: absolute;
    right: -20px;
    top: 20%;
    transform: translateY(-50%);
    background-color: #161819;
    color: white;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 18px;

}

.home-course__image a img {
    object-fit: cover;
    width: 100%;
}

.home_course {
    width: calc(100%/5);
}

.home-course__list {
    width: 100%;
}

.home-content {
    position: relative;
    width: 100%;
}

.active-model {
    padding: 15px;
    margin: 0 auto;
    background-color: #181A1B;
    color: #fff;
}

.model-content {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-right: 6px;
    display: block;
}

.model-content span {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-left: 6px;
}


.home {
    margin: 0 auto;
}

.silder-slogan {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: #181A1B;
    color: #D5D2CC;
    width: 400px;
    height: 150px;
    z-index: 1;
    padding: 15px;
}

.course-author {
    font-size: 11px;
    font-weight: italic;
}


.course-name {
    font-weight: bold;
}

.home-course__content {
    width: 250px;
    height: 200px;
}

.course-rp {
    margin-bottom: 2px;

}

.course-rp span {
    font-weight: bold;
    font-size: 16px;
    color: #B4695C;
    transform: translateY(px);
}

.course-discount {
    position: relative;
    margin-left: 5px;
}

.course-discount::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.406);
}

.heading-course {
    color: #5624D0;
}

.course-price {
    font-weight: bold;
    font-size: 16px;
}

.course-discount {
    font-weight: normal;
}
