/* styles.css */

/* header */
header {
    background-color: var(--primary-back-ground);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_account a {
    color: white;
    margin: 12px;
}

/* main */

li a {
    color: var(--text-color);
}

/* footer */
footer {
    background-color: var(--primary-back-ground);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
}
