<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/admin.css}">
</head>
<body class="app_container">
<header th:replace="~{fragments/header::headerAdminSection}"></header>
<div class="main_content admin-main-content">
    <div class="grid app__container-content-wrapper">
        <div class="app__container-content">
            <div class="lib-main_menu">
                <div class="lib-main_menu-item">
                    <a th:href="@{/admin/systemLog/userLog}">
                        <!--                        <i class="p-2 fa fa-user"></i>-->
                        <i class="p-2 fa fa-user"></i>
                        User logs</a>
                </div>
                <div class="lib-main_menu-item">
                    <a th:href="@{/admin/systemLog/courseLog}">
                        <i class="p-2 fa fa-book"></i>
                        Course logs</a>
                </div>
                <div class="lib-main_menu-item">
                    <a th:href="@{/admin/systemLog/documentLog}">
                        <i class="p-2 fa fa-file"></i>
                        Document logs</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>

<!--Custom script-->
<script th:src="@{/js/librarian/librarian.js}"></script>

<!--Bootstrap script-->
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
