<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Admin | User logs</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <!-- FlatPickr  -->
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/admin.css}">


    <!-- SweetAlert từ CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css" rel="stylesheet">

    <style>
        .dataTables_wrapper .dataTables_length {
            display: none;
            float: right;
        }

        #filterTable_filter {
            float: left;
            padding-bottom: 25px;
        }

        select.lib_show-all-btn {
            display: inline;
            width: 200px;
            margin-left: 25px;
            padding: 5px;
        }

        .dataTables_info {
            display: none;
        }

        .dataTables_wrapper .dataTables_paginate {
            text-align: center;
            float: none;
        }
    </style>
</head>
<body class="app_container">
<header th:replace="~{fragments/header::headerAdminSection}"></header>
<div class="main_content">
    <div class="grid app__container-content-wrapper">
        <div class="app__container-content">
            <div class="course-details-head">
                <a th:href="@{/admin}">Home</a>
                <span> &gt; User logs</span>
            </div>
            <div class="adm__navbar-manage border-bottom">
                <div class="adm__navbar-inline">
                    <ul class="adm__navbar-tracking-list">
                        <li class="adm__navbar-tracking-item adm__navbar-active">
                            <a th:href="@{/admin/user_log/tracking}">
                                User-Logs Tracking
                            </a>
                        </li>
                        <!--                        <li class="adm__navbar-tracking-item">-->
                        <!--                            <a th:href="@{/admin/course_log/tracking}">-->
                        <!--                                Course-Logs Tracking-->
                        <!--                            </a>-->
                        <!--                        </li>-->
                        <!--                        <li class="adm__navbar-tracking-item">-->
                        <!--                            <a th:href="@{/admin/document_log/tracking}">-->
                        <!--                                Document-Logs Tracking-->
                        <!--                            </a>-->
                        <!--                        </li>-->
                        <!--                        <li class="adm__navbar-tracking-item">-->
                        <!--                            <a th:href="@{/admin/statistics}">-->
                        <!--                                Statistics-->
                        <!--                            </a>-->
                        <!--                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="lib_data-list-wrapper">
                    <div class="lib_search-container">
                        <div class="d-flex">
                            <div class="manager_search-box">
                                <label>Filter by role:</label>
                                <div class="d-flex">
                                    <select class="lib_filter lib_search-content" onchange="filterByRole()" id="role" th:name="role">
                                        <option value="all">All</option>
                                        <option th:each="role : ${roles}"
                                                th:selected="(${roleSearch} == ${role.getDisplayValue()})"
                                                th:text="${role.getDisplayValue()}"
                                                th:value="${role}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="manager_search-box">
                                <label>Filter by date:</label>
                                <div class="d-flex">
                                    <div class="input-group date" id="datepicker">
                                        <input type="text" class="form-control" id="date" placeholder="From date"/>
                                        <span class="input-group-append">
                                                <span class="lib_search-btn-wrapper lib_search-btn">
                                                    <i class="fa-regular fa-calendar-days "></i>
                                                </span>
                                                </span>
                                    </div>

                                    <div class="input-group date" id="datepicker2">
                                        <input type="text" class="form-control" id="date2" placeholder="To date"/>
                                        <span class="input-group-append">
                                       <span class="lib_search-btn-wrapper lib_search-btn">
                                                    <i class="fa-regular fa-calendar-days "></i>
                                                </span>
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="manager_search-box">
                                    <label>Search user: </label>
                                    <div class="d-flex">
                                        <input class="lib_search-content" placeholder="Enter here..." th:id="search-text"
                                               th:name="search" th:value="${search}" type="text"/>
                                        <button class="lib_search-btn-wrapper lib_search-btn" type="submit">
                                            <i class="lib_search-btn-icon fas fa-search"></i>
                                        </button>
                                        <a class="btn lib_show-all-btn" th:href="@{/admin/user_log/tracking}">Show all</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-sm" id="filterTable">
                            <thead>
                            <tr class="n8">
                                <th>STT</th>
                                <th>Email</th>
                                <th>URL</th>
                                <th>Role</th>
                                <th>Time</th>

                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="userLog, iterStart : ${userLogs}">
                                <tr>
                                    <td th:text="${iterStart.index +1}"></td>
                                    <td th:text="${userLog.account}"></td>
                                    <td th:text="${userLog.url}"></td>
                                    <td th:text="${userLog.role}"></td>
                                    <td th:text="${userLog.time}"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker();
    });
    $(function () {
        $('#datepicker2').datepicker();
    });

    $(document).ready(function () {

        // Initialize DataTable
        var table = $("#filterTable").DataTable({
            searching: true,
            ordering: true,
            pagingType: "simple_numbers",
            pageLength: 10,
            language: {
                paginate: {
                    first: "<<",
                    last: ">>",
                    next: ">>",
                    previous: "<<",
                }
            }
        });

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var minDate = $('#datepicker').datepicker("getDate");
                var maxDate = $('#datepicker2').datepicker("getDate");
                var createdDate = new Date(data[3]);

                if ((minDate === null && maxDate === null) ||
                    (minDate === null && createdDate <= maxDate) ||
                    (minDate <= createdDate && maxDate === null) ||
                    (minDate <= createdDate && createdDate <= maxDate)) {
                    return true;
                }
                return false;
            }
        );

        window.filterByRole = function () {
            var selectedRole = $('#role').val();
            table.columns(3).search(selectedRole).draw();
        };

        // Redraw the table when the date range changes
        $('#datepicker, #datepicker2').change(function () {
            table.draw();
        });


        // Handle search input
        $('#search-text').on('keyup', function () {
            table.search(this.value).draw();
        });

        // Hide DataTable search label
        $("label").each(function () {
            if ($(this).text().indexOf('Search:') >= 0) {
                $(this).css('display', 'none');
            }
        });


        // Initial table draw
        table.draw();
    });
</script>
<!--Custom script-->
<script th:src="@{/js/admin/admin.js}"></script>


</body>
</html>