<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home </title>
</head>
<body>
    <section>
        <h2>Search</h2>
        <form>
            <label for="title">Subject:</label>
            <input type="text" id="title" name="subject" required>
            <button type="submit">Go</button>
        </form>
    </section>

    <section>
        <h2>Recent subjects</h2>
        <ul>
            <li>
                <a href="">
                    <h3>HCM202</h3>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>HCM202</h3>
                </a>
            </li>
            <li>
                <a href="">
                    <h3>HCM202</h3>
                </a>
            </li>
        </ul>
    </section>
</body>
</html>