<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>E-Resource Lecturer Home</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body class="app_container">
<!-- Header -->
<div th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content">
                <div class="lec__course-saved-content d-flex">
                    <div class="lec__sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar('home')}"></div>
                    </div>
                    <div class="lec__courses-content main" id="main-lecturer">

                        <div class="stu__recent-course-content">
                            <div class="stu__div-content-recent-title">
                                <h2 class="p border-bottom">
                                    Recent new courses
                                </h2>
                            </div>
                            <div class="stu__courses-list-recent home-courses">
                                <div class="stu__view-recent-courses">
                                    <div class="stu__view-list-course-content">
                                        <div class="view-inline-list">
                                            <ul class="home__course-list  d-flex">
                                                <li class="home__course-item grid__column-2"
                                                    th:each="course : ${recentCourses}">
                                                    <div class="home__course-wrapper-inline">
                                                        <h2 class="home__course-code" th:text="${course.courseCode}"
                                                            href=""></h2>
                                                        <a class="home__course-name-inline"
                                                           th:text="${course.courseName}"
                                                           th:href="@{'/lecturer/courses/' + ${course.id}}"></a>
                                                        <p class="home__course-description"
                                                           th:text="${course.description}"></p>
                                                        <ul class="home__course-lecturer-list">
                                                            <li class="home__course-lecturer-item"
                                                                th:if="${course.lecturer ne null}">
                                                                <a class="home__course-lecturer-link"
                                                                   href="">
                                                                    <span>Lecturer: </span>
                                                                    <span th:text="${course.lecturer.account.name}"></span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--Bootstrap script-->
<script th:src="@{/assets/bootstrap-dist/js/bootstrap.bundle.min.js}"

        crossorigin="anonymous"></script>
<!--Custom script-->
<script th:src="@{/js/lecturer/lecturer.js}"></script>
</body>
</html>
