<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>E-Resource Lecturer Home</title>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
<div class="app_container">
    <!-- Header -->
    <div th:replace="~{fragments/header::headerLecturerSection}"></div>

    <!-- Content -->
    <div class="main_content">
        <div class="container-content">
            <div class="content">
                <div class="profile-content">
                    <div class="profile-form ">
                        <div class="profile-form-title">
                            <Profile class="title-form"></Profile>
                        </div>
                        <div th:if="${param.success}">
                            <div class="alert alert-info">Save content successful !!!</div>
                        </div>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">Error !!!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footerSection}"></div>
</div>

<script th:src="@{/js/librarian.js}"></script>
</body>
</html>
