<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>E-Resource Lecturer Home</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body class="app_container">
<!-- Header -->
<div th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content lec__course-saved">
                <div class="lec__course-saved-content d-flex">
                    <div class="lec__sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar('home')}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerSection}"></div>
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--Bootstrap script-->
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<!--Custom script-->
<script th:src="@{/js/lecturer/lecturer.js}"></script>
</body>
</html>
