<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lecturer | Details Course</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <!-- SweetAlert từ CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">
</head>

<body class="app_container">
<!-- Header -->
<div class="row" th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar('my-courses-management')}"></div>
                    </div>

                    <div class="stu_courses-content main" id="main-lecturer">
                        <div class="course-details-head">
                            <a th:href="@{/lecturer}">Home > </a>
                            <a th:href="@{'/lecturer/courses/' + ${course.getId}}"
                               th:text="|${course.courseCode} - ${course.courseName}|"></a>
                            <span> &gt; Add topic </span>
                        </div>
                        <section>
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                                <div>
                                    <h2>Add topic</h2>
                                    <b th:text="${course.courseCode} + ' - ' + ${course.courseName}"></b>
                                </div>
                            </div>
                            <div class="add-content">
                                <div class="add-form">
                                    <div class="add-form-content">
                                        <form method="post" role="form" th:action="@{/lecturer/topics/add_topic}"
                                              th:object="${topic}" th:id="add-form">
                                            <table class="table-form add-table" style="width: 60%">
                                                <tr class="d-none">
                                                    <td><label th:for="courseId">Course ID</label></td>
                                                    <td><input type="text"
                                                               class="form-control hidden" th:field="*{course}"
                                                               th:id="courseId"
                                                               placeholder="Enter course ID" readonly>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lecturer_input-label"><label th:for="topicTitle">Title:</label></td>
                                                    <td><input type="text"
                                                               class="lecturer_input form-control" th:field="*{topicTitle}"
                                                               placeholder="Enter topic title" required>
                                                        <p class="text-danger" th:errors="*{topicTitle}"
                                                           th:if="${#fields.hasErrors('topicTitle')}"></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="lecturer_input-label" ><label th:for="topicDescription">Description:</label></td>
                                                    <td><textarea
                                                               class="lecturer_textarea form-control" th:field="*{topicDescription}"
                                                                  placeholder="Enter description"></textarea>
                                                        <p class="text-danger" th:errors="*{topicDescription}"
                                                           th:if="${#fields.hasErrors('topicDescription')}"></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <button type="submit" class="btn btn-save">Save</button>
                                                        <th:block th:if="${param.success}">
                                                            <a class="btn btn--back" href="javascript:void(0);" onclick="history.go(-2);">Back</a>
                                                        </th:block>
                                                        <th:block th:unless="${param.success}">
                                                            <a class="btn btn--back" href="javascript:void(0);" onclick="history.go(-1);">Back</a>
                                                        </th:block>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="topic-item">
                                <div class="topic-title">
                                    <h3 class="topic-info-title d-flex justify-content-between">
                                        Added topics
                                    </h3>
                                </div>
                                <!--Document view list-->
                                <div class="d-flex align-items-center document-view-info border-bottom"
                                     th:each="topic : ${course.getTopics()}">
                                    <div class="doc-info-head" style="max-width: 75%">
                                        <p class="doc-info-title"><a
                                                th:href="@{'/lecturer/topics/' + ${topic.id}}">
                                            <span th:text="${topic.topicTitle}"></span></a>
                                        </p>
                                        <p class="doc-info-description">
                                            <span th:text="${topic.topicDescription}"></span>
                                        </p>
                                    </div>
                                    <div style="margin-left: 5%">
                                        <a class="lec__edit-topic-icon"
                                           th:href="@{'/lecturer/topics/' + ${topic.id} +'/update'}">
                                            <i
                                                    class="fa-regular fa-edit"></i> </a>
                                    </div>
                                </div>
                                <!--End Document view-->
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/js/lecturer/lecturer.js"></script>

<script th:inline="javascript">
    // validate_addTopic();

    var successParam = [[${param.success}]];
    if (successParam) {
        Swal.fire(
            'Success!',
            'Save topic successful!',
            'success'
        );
    }

    var errorParam = [[${param.error}]];
    if (errorParam) {
        Swal.fire(
            'Error!',
            'Please check again!',
            'error'
        );
    }
</script>
</body>

</html>
