<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject Management</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/lib-manager.css" />
  </head>
  <body>
    <div class="app_container">
      <!-- Header -->
      <header>
        <div class="header_system-name">
          <h2>FPT University E-Resource System</h2>
        </div>
        <div class="header_account">
          <a th:href="@{/logout}">Logout</a>
          <a th:href="@{/profile}">lampt@fpt.edu.vn</a>
        </div>
      </header>

      <!-- Content -->
      <main class="main_content">
        <section>

          <div class="">
            <div class="search-container">
              <form action="/action_page.php">
                <label for="search-text">User</label>
                <input
                  type="text"
                  placeholder="Search.."
                  name="search"
                  id="search-text"
                />
                <button type="submit">
                  <i class="fa fa-search"></i> Search
                </button>
                <button class="btn-add" type="button" href="#">
                  Add new subjects
                </button>
              </form>
            </div>
          </div>
          <div class="user-management-head">
            <a th:href="@{/manager}">Home</a>
            <span> &gt; <a href="#"> Major And Subjects Management</a> </span>
          </div>
          <div>
            <table class="list-model-table">
              <tr class="table-head">
                <th>Code</th>
                <th>Name</th>
                <th>Descriptions</th>
              </tr>
              <tr>
                <td><a href="">HCM202</a></td>
                <td>Course name</td>
                <td>Hệ thống các quan điểm toàn diện và sâu sắc về những vấn đề cơ bản của cách mạng Việt Nam</td>
              </tr>
              <tr>
                <td><a href="">HCM202</a></td>
                <td>Course name</td>
                <td>Hệ thống các quan điểm toàn diện và sâu sắc về những vấn đề cơ bản của cách mạng Việt Nam</td>
              </tr>
              <tr>
                <td><a href="">HCM202</a></td>
                <td>Course name</td>
                <td>Hệ thống các quan điểm toàn diện và sâu sắc về những vấn đề cơ bản của cách mạng Việt Nam</td>
              </tr>
              <tr>
                <td><a href="">HCM202</a></td>
                <td>Course name</td>
                <td>Hệ thống các quan điểm toàn diện và sâu sắc về những vấn đề cơ bản của cách mạng Việt Nam</td>
              </tr>
            </table>
          </div>
        </section>
      </main>

      <!-- Footer -->
      <footer>
        <p>&copy; 2023 - FPT Education. All rights reserved.</p>
        <a href="#">About us</a>
      </footer>
    </div>

    <script src="/js/lib-manager.js"></script>
  </body>
</html>
