<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Resource Manager</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/base.css" />
    <link
      rel="stylesheet"
      href="/css/lib-manager.css"
    />
  </head>
  <body>
    <div class="app_container">
      <!-- Header -->
      <header>
        <div class="header_system-name">
          <h2>FPT University E-Resource System</h2>
        </div>
        <div class="header_account">
          <a href="">Logout</a>
          <a href="">lampt@fpt.edu.vn</a>
        </div>
      </header>

      <!-- Content -->
      <main class="main_content">
        <section>
          <ul class="func_list">
            <li class="func_item">
              <a href="">Campus</a>
            </li>
            <li class="func_item">
              <a href="lib-manager_subjects.html">Major And Subjects</a>
            </li>
            <li class="func_item">
              <a href="">Report</a>
            </li>
            <li class="func_item">
              <a href="lib-manager_accounts.html">User management</a>
            </li>
            <li class="func_item">
              <a href="">Remove Data</a>
            </li>
          </ul>
        </section>
      </main>

      <!-- Footer -->
      <footer>
        <p>&copy; 2023 - FPT Education. All rights reserved.</p>
        <a href="#">About us</a>
      </footer>
    </div>

    <script src="/js/lib-manager.js"></script>
  </body>
</html>
