<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lecturer | Add document</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>

    <!-- SweetAlert từ CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">
</head>

<body class="app_container">
<!-- Header -->
<div class="row" th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar('my-courses-management')}"></div>
                    </div>

                    <div class="stu_courses-content main" id="main-lecturer">
                        <div class="document-details-head">
                            <a th:href="@{/lecturer}">Home</a>
                            <span> &gt; <a th:href="@{/lecturer/courses/list/all/1}">Courses management</a></span>
                            <span> &gt; <a th:href="@{'/lecturer/courses/' + ${resourceType.course.id}}"
                                           th:text="${resourceType.course.courseName}"></a></span>
                            <span> &gt; <a th:href="@{'/lecturer/resource_types/' + ${resourceType.id}}"
                                           th:text="${resourceType.resourceTypeName}"></a></span>

                            <span> &gt; Add new document</span>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <div>
                                <h1 class="h2">Add document</h1>
                                <p th:text="|${resourceType.resourceTypeName} - ${resourceType.course.courseName}|"></p>
                            </div>
                        </div>
                        <div>
                            <form style="width: 75%; margin-left: 10%" method="post" role="form"
                                  th:action="@{'/lecturer/documents/add?respondResourceType=' + ${resourceType.resourceTypeName}}"
                                  th:object="${document}"
                                  th:id="add-form" enctype="multipart/form-data">
                                <!--Title-->
                                <label class="lecturer_input-label-doc" th:for="documentTitle">Title:</label>
                                <input type="text" th:id="documentTitle"
                                       class="lecturer_input form-control lecturer__input-doc"
                                       th:field="*{title}" placeholder="Enter document code" required>
                                <p class="text-danger" th:errors="*{title}"
                                   th:if="${#fields.hasErrors('title')}"></p>
                                <!--Description-->
                                <label class="lecturer_input-label-doc" th:for="description">Description:</label>
                                <textarea type="text" th:id="description"
                                          class="lecturer_textarea form-control lecturer__input-doc"
                                          th:field="*{description}" placeholder="Enter description"></textarea>

                                <label for="topic" class="lecturer_input-label-doc">Topic:</label>
                                <div class="d-flex lecturer__input-doc">
                                    <select class="form-select " name="topicId"
                                            style="font-size: 1.3rem"
                                            id="topic">
                                        <option th:each="topic : ${topics}"
                                                th:text="${topic.topicTitle}"
                                                th:value="${topic.id}">
                                        </option>
                                    </select>
<!--                                    <button type="button" id="defineResourceType"-->
<!--                                            class="lecturer_search-btn ms-2 border-0 ps-4 pe-4"><i-->
<!--                                            class="fa-solid fa-plus"></i></button>-->
                                </div>

<!--                                <div id="inputResourceWrapper"-->
<!--                                     style="display: none; margin-top: 4px">-->
<!--                                    <div class="lecturer__input-doc d-flex">-->
<!--                                        <input type="text" class="lecturer_input form-control" id="inputResource"-->
<!--                                               placeholder="Define your resource type...">-->
<!--                                        <button type="button" class="lecturer_search-btn ms-2 border-0"-->
<!--                                                id="defineButton" style="border-radius: 2px">-->
<!--                                            Define-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <label class="lecturer_input-label-doc" th:for="description">Add document method:</label>
                                <div>
                                    <input class="btn-check" type="radio" th:field="*{displayWithFile}" th:name="displayWithFile"
                                           value="false" id="displayContentType1" autocomplete="off">
                                    <label class="btn btn-secondary" for="displayContentType1">Create new content
                                    </label>
                                    <input class="btn-check" type="radio" th:field="*{displayWithFile}" th:name="displayWithFile"
                                           value="true" id="displayContentType2" checked="checked" autocomplete="off">
                                    <label class="btn btn-secondary" for="displayContentType2">Upload available file
                                    </label>
                                </div>

                                <div id="editorWrapper">
                                    <div class="d-flex justify-content-between">
                                        <label for="editor" class="lecturer_input-label-doc">Content:</label>
                                    </div>

                                    <textarea id="editor"
                                              th:field="*{editorContent}"></textarea>
                                </div>


                                <div id="uploadFileInput" style="display: none; margin-top: 1rem">
                                    <div class="d-flex justify-content-between lecturer__input-doc">
                                        <label th:for="file" class="lecturer_input-label-doc">File Upload:</label>

                                        <div id="cancelUploadButton" class="d-flex align-items-center">
                                            <button type="button" class="border-0"
                                                    style="padding: 4px 6px; border-radius: 2px">
                                                Reset uploading file
                                            </button>
                                        </div>
                                    </div>
                                    <input type="file" th:name="file" id="fileUploadInput"
                                           class="file-input form-control lecturer__input-doc" style="font-size: 1.3rem"
                                    >
                                    <div class="mt-3">
                                        <div id="previewContainer" class="form-control">File will be previewed here.
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-save lecturer_btn-save"
                                            id="submitAllData">Save
                                    </button>
                                    <th:block th:if="${param.success}">
                                        <a class="btn btn--back" href="javascript:void(0);" onclick="history.go(-2);">Back</a>
                                    </th:block>
                                    <th:block th:unless="${param.success}">
                                        <a class="btn btn--back" href="javascript:void(0);" onclick="history.go(-1);">Back</a>
                                    </th:block>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/js/lecturer/lecturer.js"></script>

<!--Validate-->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script th:src="@{/js/validation.js}"></script>

<!-- CK Editor-->
<script th:src="@{/assets/ckeditor5/build/ckeditor.js}"></script>
<script th:src="@{/js/editor.js}"></script>
<script th:inline="javascript">
    // // Resource Type
    // $('#defineResourceType').click(function () {
    //     $('#inputResourceWrapper').fadeIn();
    // });
    //
    $('#uploadFile').click(function () {
        $('#editorWrapper').fadeOut();
        $('#uploadFileInput').fadeIn();
    });

    $('#editContent').click(function () {
        $('#editorWrapper').fadeIn();
        $('#uploadFileInput').fadeOut();
    });

    // Type of content
    $('#displayContentType1').click(function () {
        $('#editorWrapper').fadeIn();
        $('#uploadFileInput').fadeOut();
    });

    $('#displayContentType2').click(function () {
        $('#editorWrapper').fadeOut();
        $('#uploadFileInput').fadeIn();
    });

    var successParam = [[${param.success}]];
    if (successParam) {
        Swal.fire(
            'Success!',
            'Save document successful!',
            'success'
        );
    }

    var errorParam = [[${param.error}]];
    if (errorParam) {
        Swal.fire(
            'Error!',
            'Please check document information again!',
            'error'
        );
    }

</script>
<script th:src="@{/js/validation_add-file.js}"></script>
</body>

</html>