<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="'Lecturer | ' + ${document.getTitle()}"></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>
    <link rel="stylesheet" th:href="@{/css/content-style.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.1.81/pdf.min.js"
            integrity="sha512-RV+l/3iMDTmIt64ztJmriqLRZl2IwGHcG+655gFxUa20Uq9GljEsY3wibq5BZkGzRlMbYFHUPelVQvWvZxP38w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="app_container">
<!-- Header -->
<div th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar('my-courses-management')}"></div>
                    </div>

                    <div class="stu_course-content main" id="main-lecturer">
                        <div class="document-details-head">
                            <a th:href="@{/lecturer}">Home</a>
                            <span> &gt; <a th:href="@{/lecturer/courses/list/all/1}">Courses management</a></span>
                            <span> &gt; <a th:href="@{'/lecturer/courses/' + ${topic.course.id}}"
                                           th:text="${topic.course.courseCode}"></a></span>
                            <span> &gt; <a th:href="@{'/lecturer/topics/' + ${topic.id}}"
                                           th:text="${topic.topicTitle}"></a></span>

                            <span> &gt; <span th:text="${document.title}"></span></span>
                        </div>
                        <div style="width: 100%" class="document-wrapper">
                            <div class="document-details-info border-bottom">
                                <div>
                                    <div class="doc-info-name d-flex justify-content-between"
                                         style="margin-bottom: 4px">
                                        <div style="flex: 3; margin-right: 2rem">
                                            <p class="doc-info-name h2" th:text="${document.getTitle()}"></p>
                                            <div style="display: flex; width: 100%">
                                        <span style="flex: 1">Type: <span class="lecturer-name"
                                                                          th:text="${document.resourceType.resourceTypeName}"></span></span>
                                            </div>
                                            <div><p id="content" class="doc-info-description"
                                                    style="text-align: justify; margin-bottom: 0; margin-top: 1rem"
                                                    th:text="${document.description}"></p>
                                                <span id="readMoreBtn" style="display: none;" class="read-more"
                                                      onclick="toggleContent()">Read more</span></div>
                                        </div>
                                        <div style="flex: 1; display: flex; justify-content: center">
                                            <div style="width: 60%; display: flex; justify-content: center; flex-direction: column">
                                                <a class="btn btn--hover mb-2 mt-2"
                                                   th:href="@{'/lecturer/documents/' + ${document.id} + '/update'}">
                                                    <span><i class="fa-solid fa-edit"></i>  Edit document</span>
                                                </a>
                                                <a class="btn btn--hover"
                                                   th:href="@{'/lecturer/documents/' + ${document.id} + '/delete'}">
                                                    <span><i class="fa-solid fa-trash"></i>  Delete document</span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                                <div class="stu_save-course-link" style="flex: 1;">

                                </div>
                            </div>
                            <div class="student__course-document-view">


                                <div style="display: flex" class="doc-content-view">
                                    <th:block th:unless="${document.displayWithFile == true}">
                                        <div class="doc-content-view ck-content" th:utext="${document.editorContent}"
                                             style="height: 500px; flex: 3; overflow: auto">
                                        </div>
                                    </th:block>
                                    <th:block th:if="${document.displayWithFile == true}">
                                        <th:block th:unless="${document.cloudFileLink ne null}">
                                            <th:block th:if="${document.docType.toString().equals('TXT')}">
                                                <iframe class="doc-content-view"
                                                        th:src="'data:text;base64,' + ${data}"
                                                        width="100%" height="600px"></iframe>
                                            </th:block>
                                            <th:block th:if="${document.docType.toString() eq 'HTML'}">
                                                <iframe id="htmlContent"
                                                        class="doc-content-view"
                                                        th:attr="src='data:text/html;base64,' + ${data}"
                                                        width="100%" height="600px"></iframe>
                                            </th:block>
                                            <th:block th:if="${document.docType.toString() eq 'PDF'}">
                                                <embed class="doc-content-view"
                                                       th:attr="src='data:application/pdf;base64,' + ${data}"
                                                       type="application/pdf" width="100%" height="600px">
                                            </th:block>

                                            <!-- Video -->
                                            <th:block th:if="${document.docType.toString() eq 'VIDEO'}">
                                                <video controls class="doc-content-view" width="100%" height="100%">
                                                    <th:block th:if="${document.suffix eq 'mkv'}">
                                                        <source type="video/mkv"
                                                                th:src="'data:video/mkv;base64,' + ${data}"
                                                        >
                                                    </th:block>
                                                    <th:block th:if="${document.suffix eq 'flv'}">
                                                        <source type="video/flv"
                                                                th:src="'data:video/flv;base64,' + ${data}"
                                                        >
                                                    </th:block>
                                                    <th:block th:if="${document.suffix eq 'avi'}">
                                                        <source type="video/avi"
                                                                th:src="'data:video/avi;base64,' + ${data}"
                                                        >
                                                    </th:block>
                                                    <th:block th:if="${document.suffix eq 'mp4'}">
                                                        <source type="video/mp4"
                                                                th:src="'data:video/mp4;base64,' + ${data}"
                                                        >
                                                    </th:block>
                                                    <th:block th:if="${document.suffix eq 'webm'}">
                                                        <source type="video/webm"
                                                                th:src="'data:video/webm;base64,' + ${data}"
                                                        >
                                                    </th:block>
                                                    <th:block th:if="${document.suffix eq 'mov'}">
                                                        <source type="video/mov"
                                                                th:src="'data:video/mov;base64,' + ${data}"
                                                        >
                                                    </th:block>
                                                </video>
                                            </th:block>
                                            <!-- Image -->
                                            <th:block th:if="${document.docType.toString() eq 'IMAGE'}">
                                                <img th:src="'data:image;base64,' + ${data}"
                                                     alt="Image"/>
                                            </th:block>

                                            <audio th:if="${document.docType.toString() eq 'AUDIO'}" controls>
                                                <source type="audio/mp3" th:src="'data:audio/mp3;base64,' + ${data}">
                                            </audio>
                                        </th:block>
                                        <th:block th:if="${document.cloudFileLink ne null}">
                                            <th:block
                                                    th:unless="${document.docType.toString() eq 'VIDEO' or document.docType.toString() eq 'AUDIO'}">
                                                <th:block th:unless="${document.docType.toString() eq 'OTHER'}">
                                                    <embed class="doc-content-view"
                                                           th:attr="src='https://docs.google.com/gview?url=' + ${data} + '&embedded=true'"
                                                           width="100%" height="600px">
                                                </th:block>
                                                <th:block th:if="${document.docType.toString() eq 'OTHER'}">
                                                    <div class="mt-3 mb-3">
                                                        <span>Attached file: </span>
                                                        <a th:href="${data}" th:text="${document.fileName}" download></a>
                                                    </div>
                                                </th:block>
                                            </th:block>
                                            <th:block
                                                    th:if="${document.docType.toString() eq 'VIDEO' or document.docType.toString() eq 'AUDIO'}">
                                                <embed class="doc-content-view"
                                                       th:attr="src=${data}" width="100%" height="600px">
                                            </th:block>
                                        </th:block>
                                    </th:block>

                                </div>


                                <div class="lec__navbar-view-doc">
                                    <ul class="lec__navbar-view-doc-list border-bottom">
                                        <li class="lec__navbar-view-doc-item">
                                            <a href="#">
                                                Question & Answer
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="lec__question-in-doc-content" id="lecturer-questions"
                                         th:if="${questions ne null }">
                                        <div class="lec__question-content-wrapper" th:each="question : ${questions}"
                                             th:id="${question.id}">
                                            <h6 class="lec__question-creater-name"><i class="fa-solid fa-user"></i>
                                                <span th:text="${question.student.account.name}"></span></h6>
                                            <p class="lec__question-content question-content"
                                               th:utext="${question.content}"></p>
                                            <p class="lec__question-content"><span class="lec__answer-date"
                                                                                   th:text="${question.lastModifiedDate}"></span>
                                                <a class="lec__add-reply view-question-link-item"
                                                   th:question-id="${question.id}"
                                                   onclick="showReplyForm(this.getAttribute('question-id'))"> Reply</a>

                                            </p>
                                            <p th:id="'view-more-reply-'+${question.getId()}"
                                               th:question-id="${question.id}"
                                               onclick="viewMoreReply(this.getAttribute('question-id'))"
                                               class="view-question-reply lec__question-content"
                                               th:classappend="${question.answers.size()} == 0 ? 'display-none':''"
                                            >View all <span
                                                    th:id="'number-reply-'+ ${question.id}"
                                                    th:text="${question.answers.size()}"></span> reply</p>
                                            <p style="display:none;" th:if="${question.answers.size()} > 0"
                                               th:id="'see-less-reply-'+${question.getId()}"
                                               th:question-id="${question.id}"
                                               onclick="seeLessReply(this.getAttribute('question-id'))"
                                               class="view-question-reply lec__question-content">See less</p>
                                            <p style="display:none;" th:id="'loading-reply-'+${question.getId()}"
                                               th:question-id="${question.id}"
                                               class="view-question-reply lec__question-content"><i
                                                    class="fas fa-spinner fa-spin"></i> Loading more reply...</p>
                                            <div class="reply-content"
                                                 th:id="'list-reply-content-'+${question.getId()}">
                                            </div>
                                            <div class="lec__reply-form" th:id="'reply-form'+${question.getId()}">
                                                <form class="form-lecturer-add-doc-new-reply justify-content-between"
                                                      method="post" role="form"
                                                      th:object="${newAnswer}"
                                                      th:id="'reply-content-form'+${question.getId()}">
                                                    <div class="">
                                                        <input type="text" name="docId" th:value="${document.getId()}"
                                                               readonly hidden>
                                                        <input type="text" name="quesId" th:value="${question.getId()}"
                                                               readonly hidden>
                                                        <label th:id="'new-reply-content-error-'+${question.getId()}"
                                                               class="lecturer_input-label error-input">Content
                                                            require!</label>
                                                        <div class="form-content">
                                                            <label th:for="'new-reply-content-'+${question.getId()}"
                                                                   class="lec_input-label-reply">Enter answer:</label>
                                                            <textarea th:id="'new-reply-content-'+${question.getId()}"
                                                                      class="input-reply-content"
                                                                      th:field="*{answer}" required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="submit-reply-button">
                                                        <button type="button" title="exist"
                                                                th:id="'exist-reply-form-button-'+${question.getId()}"
                                                                th:question-id="${question.id}"
                                                                onclick="existFormReplyQuestion(this.getAttribute('question-id'))"
                                                                class="btn-danger"><i class="fa-solid fa-xmark"></i>
                                                            Close
                                                        </button>
                                                        <a type="button" title="Sending" style="display:none;"
                                                           th:id="'sending-reply-'+${question.getId()}"
                                                           th:question-id="${question.id}"><i
                                                                class="fas fa-spinner fa-spin"></i> Sending...</a>
                                                        <button type="button" title="Send"
                                                                th:id="'send-reply-button-'+${question.getId()}"
                                                                th:question-id="${question.id}"
                                                                onclick="submitFormReplyQuestion(this.getAttribute('question-id'))"
                                                                class="btn-save"><i class="fa-solid fa-paper-plane"></i>Send
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--Bootstrap script-->
<script th:src="@{/assets/bootstrap-dist/js/bootstrap.bundle.min.js}"

        crossorigin="anonymous"></script>
<script th:src="@{/js/lecturer/lecturer.js}"></script>
<script th:src="@{/js/lecturer/lecturer_doc-detail.js}"></script>
<script>
    var content = document.getElementById("content");
    var button = document.getElementById("readMoreBtn");

    function toggleContent() {

        if (content.classList.contains("doc-info-description")) {
            content.classList.remove("doc-info-description");
            content.classList.add("full-content");
            button.textContent = "Read less";
        } else {
            content.classList.remove("full-content");
            content.classList.add("doc-info-description");
            button.textContent = "Read more";
        }
    }
</script>
</body>

</html>