<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lecturer | Update document</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>

    <!-- CK Editor-->
    <script th:src="@{/assets/ckeditor5/build/ckeditor.js}"></script>

    <!-- SweetAlert từ CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">
</head>

<body class="app_container">
<!-- Header -->
<div class="row" th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar('my-courses-management')}"></div>
                    </div>

                    <div class="stu_courses-content main" id="main-lecturer">
                        <div class="document-details-head">
                            <a th:href="@{/lecturer}">Home</a>
                            <span> &gt; <a th:href="@{/lecturer/courses/list/all/1}">Courses management</a></span>
                            <span> &gt; <a th:href="@{'/lecturer/courses/' + ${document.topic.course.id}}"
                                           th:text="${document.topic.course.courseCode}"></a></span>
                            <span> &gt; <a th:href="@{'/lecturer/topics/' + ${document.topic.id}}"
                                           th:text="${document.topic.topicTitle}"></a></span>
                            <span> &gt; <a th:href="@{'/lecturer/documents/' + ${document.id}}"
                                           th:text="${document.title}"></a></span>
                            <span> &gt; Update </span>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <div>
                                <h1 class="h2">Update document</h1>
                                <p th:text="|${document.topic.topicTitle} - ${document.topic.course.courseName}|"></p>
                            </div>
                        </div>
                        <div>
                            <form style="width: 75%; margin-left: 10%" method="post"
                                  th:action="@{'/lecturer/documents/update'}"
                                  th:object="${document}"
                                  th:id="add-form" enctype="multipart/form-data">
                                <input type="text"
                                       th:field="*{id}" hidden>
                                <!--Title-->
                                <label class="lecturer_input-label-doc" th:for="documentTitle">Title:</label>
                                <input type="text" th:id="documentTitle"
                                       class="lecturer_input form-control lecturer__input-doc"
                                       th:field="*{title}"
                                       placeholder="Enter document code" required>
                                <p class="text-danger" th:errors="*{title}"
                                   th:if="${#fields.hasErrors('title')}"></p>
                                <!--Description-->
                                <label class="lecturer_input-label-doc" th:for="description">Description:</label>
                                <textarea type="text" th:id="description"
                                          class="lecturer_textarea form-control lecturer__input-doc"
                                          th:field="*{description}" placeholder="Enter description"></textarea>

<!--                                <label for="topic" class="lecturer_input-label-doc">Topic:</label>-->
<!--                                <div class="d-flex lecturer__input-doc">-->
<!--                                    <select class="form-select " name="topicId"-->
<!--                                            style="font-size: 1.3rem"-->
<!--                                            id="topic">-->
<!--                                        <option th:each="topic : ${topics}"-->
<!--                                                th:text="${topic.topicTitle}"-->
<!--                                                th:value="${topic.id}">-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                    &lt;!&ndash;                                    <button type="button" id="defineResourceType"&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                            class="lecturer_search-btn ms-2 border-0 ps-4 pe-4"><i&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                            class="fa-solid fa-plus"></i></button>&ndash;&gt;-->
<!--                                </div>-->

<!--                                <label for="resourceType" class="lecturer_input-label-doc">Type:</label>-->
<!--                                <div class="d-flex lecturer__input-doc">-->
<!--                                    <select class="form-select " name="respondResourceType"-->
<!--                                            style="font-size: 1.3rem"-->
<!--                                            id="resourceType">-->
<!--                                        <option th:each="resourceType : ${resourceTypes}"-->
<!--                                                th:text="${resourceType.resourceTypeName}"-->
<!--                                                th:value="${resourceType.id}">-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                    <button type="button" id="defineResourceType"-->
<!--                                            class="lecturer_search-btn ms-2 border-0 ps-4 pe-4"><i-->
<!--                                            class="fa-solid fa-plus"></i></button>-->
<!--                                </div>-->

<!--                                <div id="inputResourceWrapper"-->
<!--                                     style="display: none; margin-top: 4px">-->
<!--                                    <div class="lecturer__input-doc d-flex">-->
<!--                                        <input type="text" class="lecturer_input form-control" id="inputResource"-->
<!--                                               placeholder="Define your resource type...">-->
<!--                                        <button type="button" class="lecturer_search-btn ms-2 border-0"-->
<!--                                                id="defineButton" style="border-radius: 2px">-->
<!--                                            Define-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div id="editorWrapper">
                                    <div class="d-flex justify-content-between">
                                        <label for="editor" class="lecturer_input-label-doc">Content:</label>
                                    </div>

                                    <textarea id="editor"
                                              th:field="*{editorContent}"
                                              th:value="${document.editorContent}"></textarea>
                                </div>


                                <div id="uploadFileInput" style="margin-top: 2rem">
                                    <div class="d-flex justify-content-between lecturer__input-doc">
                                        <label th:for="file" class="lecturer_input-label-doc">File Upload:</label>

                                        <div id="cancelUploadButton" class="d-flex align-items-center">
                                            <button type="button" class="border-0"
                                                    style="padding: 4px 6px; border-radius: 2px">
                                                Reset uploading file
                                            </button>
                                        </div>
                                    </div>
                                    <div th:if="${file ne null}" class="mb-3"><span>Current file: </span><span
                                            th:text="${file}"></span></div>
                                    <input type="file" th:name="file" id="fileUploadInput"
                                           class="file-input form-control lecturer__input-doc" style="font-size: 1.3rem"
                                    >
                                    <div class="mt-3" id="isDisplayWithFile">
                                        <input type="checkbox" th:name="displayWithFile" th:field="*{displayWithFile}"
                                               th:checked="${document.displayWithFile}">
                                        <label th:for="displayWithFile"> Display lesson content as FILE CONTENT instead
                                            of edited content</label>
                                    </div>
                                    <div class="mt-3">
                                        <div id="previewContainer" class="form-control">File will be previewed here.
                                        </div>
                                    </div>

                                </div>

                                <button type="submit" class="btn btn-save lecturer_btn-save"
                                        id="submitAllData">Save
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    // Resource Type
    $('#defineResourceType').click(function () {
        $('#inputResourceWrapper').fadeIn();
    });

    $('#defineButton').click(function () {
        var inputValue = $('#inputResource').val().trim();
        var selectResource = $('#resourceType');
        var isDuplicate = false;

        if (inputValue === '') {
            alert("Please enter a resource type!");
            return;
        }

        selectResource.find('option').each(function () {
            if ($(this).text() === inputValue) {
                isDuplicate = true;
                return false;
            }
        });

        if (isDuplicate) {
            Swal.fire(
                'Error!',
                'This resource type already exists!',
                'error'
            );
        } else {
            var confirmation = confirm("Are you sure you want to add this resource type?");
            if (confirmation) {
                var newOption = $('<option>').text(inputValue).val(inputValue);
                selectResource.append(newOption);
                selectResource.val(inputValue);
            }
        }
    });

    // VALIDATION AND SWAL
    // validate_addDocument();

    var successParam = [[${param.success}]];
    if (successParam) {
        Swal.fire(
            'Success!',
            'Save document successful!',
            'success'
        );
    }

    var errorParam = [[${param.error}]];
    if (errorParam) {
        Swal.fire(
            'Error!',
            'Please check document information again!',
            'error'
        );
    }
</script>
<script th:src="@{/js/editor.js}"></script>
<script th:src="@{/js/file_validation.js}">

</script>
</body>

</html>