<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lecturer | Uploaded documents </title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>

</head>
<body class="app_container">
<!-- Header -->
<div th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content lec__course">
                <div class="lec__course-content d-flex">
                    <div class="lec__sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar('my-document')}"></div>
                    </div>

                    <div class="lec__courses-content main" id="main-lecturer">

                        <div class="header__search">
                            <!--Label-->
                            <div class="search-label">
                                <label th:for="search">Search documents</label>
                            </div>
                            <!-- Input  -->
                            <div class="header__search-input-wrap">
                                <input type="text" class="header__search-input"
                                       placeholder="Enter document ..."
                                       name="search"
                                       th:id="search" th:value="${search}">
                                <!-- Header-search-history -->
                                <div class="header__search-history">
                                    <h3 class="header__search-history-heading">
                                        Search history
                                    </h3>
                                    <ul class="header__search-history-list">

                                        <li class="header__search-history-item">
                                            <a href="">Software</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Select-find-scope -->
                            <div class="header__search-select">
                                <span class="header__search-select-label">All results</span>
                                <i class="header__search-select-icon fas fa-angle-down"></i>
                                <ul class="header__search-option">
                                    <li class="header__search-option-item header__search-option-item--active">
                                        <span class="">By Name</span>
                                        <i class="fas fa-check"></i>
                                    </li>
                                    <li class="header__search-option-item">
                                        <span class="">By Code</span>
                                        <i class="fas fa-check"></i>
                                    </li>
                                </ul>
                            </div>
                            <button class="header__search-btn">
                                <i class="header__search-btn-icon fas fa-search"></i>
                            </button>
                        </div>

                        <div class="lec__courses-list-view">
                            <div class="lec__view-saved-courses">
                                <div class="lec__view-list-course-content">
                                    <div class="view-block-list">
                                        <ul class="home__course-list">
                                            <li class="home__course-item">
                                                <div class="home__course-wrapper" th:each="document : ${documents}">
                                                    <a class="home__course-name" th:text="${document.title}"
                                                       th:href="@{'/lecturer/documents/' + ${document.id}}"></a>
                                                    <p class="home__course-description"
                                                       th:text="${document.description}"></p>
                                                    <ul class="home__course-lecturer-list">
                                                        <li class="home__course-lecturer-item"
                                                            th:if="${document.topic ne null}">
                                                            Topic:
                                                            <a class="home__course-lecturer-link"
                                                               href="" th:text="${document.topic.topicTitle}">
                                                            </a>
                                                        </li>
                                                        <li class="home__course-lecturer-item"
                                                            th:if="${document.resourceType ne null}">
                                                            Type:
                                                            <a class="home__course-lecturer-link"
                                                               href="" th:text="${document.resourceType.resourceTypeName}">
                                                            </a>
                                                        </li>

<!--                                                        <li class="home__course-lecturer-item">-->
<!--                                                            <th:block th:if="${status == 'all'}">-->
<!--                                                                Status:-->
<!--                                                                <th:block-->
<!--                                                                        th:if="${course.status.toString().equals('PUBLISH')}">-->
<!--                                                                    <span class="text-success fw-bold">Publish</span>-->
<!--                                                                </th:block>-->
<!--                                                                <th:block-->
<!--                                                                        th:if="${course.status.toString().equals('DRAFT')}">-->
<!--                                                                    <span class="text-warning fw-bold">Draft</span>-->
<!--                                                                </th:block>-->
<!--                                                                <th:block-->
<!--                                                                        th:if="${course.status.toString().equals('HIDE')}">-->
<!--                                                                    <span class="text-secondary fw-bold">Hidden</span>-->
<!--                                                                </th:block>-->
<!--                                                            </th:block>-->
<!--                                                        </li>-->
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="pagination home-courses__pagination-distance">
                                        <li class="pagination-item">
                                            <a href="" class="pagination-item__link">
                                                <i class="pagination-item__icon fas fa-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="pagination-item pagination-item--active">
                                            <a href="" class="pagination-item__link">1</a>
                                        </li>

                                        <li class="pagination-item">
                                            <a href="" class="pagination-item__link">
                                                <i class="pagination-item__icon fas fa-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>


<!--Bootstrap script-->
<script th:src="@{/assets/bootstrap-dist/js/bootstrap.bundle.min.js}"

        crossorigin="anonymous"></script>
<!--Custom script-->
<script th:src="@{/js/lecturer/lecturer.js}"></script>
</body>
</html>


