<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian | Lectures</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/fragment.css}" />
    <link th:href="@{/css/styles/librarian.css}" rel="stylesheet">

</head>
<body class="app_container">

<header class="row" th:replace="~{fragments/header::headerLibrarianSection}"></header>
<div class="main_content">
    <div class="grid app__container-content-wrapper">
        <div class="app__container-content">
            <div class="lecture-details-head">
                <a th:href="@{/librarian}">Home</a>
                <span> &gt; Lectures management</span>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Lecturers</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                </div>
            </div>
            <div class="lib_data-list-wrapper">
                <div class="lib_search-container">
                    <form class="d-flex" th:action="@{/librarian/lectures/list/1}" th:method="get">
                        <div class="d-flex">
                            <input class="lib_search-content" type="text" placeholder="Search lecture.." name="search"
                                   th:value="${search}" id="search-text"  />
                            <button type="submit" class="lib_search-btn-wrapper lib_search-btn">
                                <i class="lib_search-btn-icon fas fa-search"></i>
                            </button>
                            <a class="lib_show-all-btn" th:href="@{/librarian/lectures/list/1}">Show All</a>
                        </div>
                    </form>
                    <div>
                        <a class="lib_btn-add" type="button" th:href="@{/librarian/lectures/add}">
                            <i class="fa-solid fa-plus"></i>
                            <span>New</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-view" th:if="${lecturers ne null}">
                <table class="table table-striped table-sm">
                    <tr class="table-head">
                        <th>ID</th>
                        <th>Date Created</th>
                    </tr>
                    <th:block th:each="lecture : ${lecturers}">
                        <tr>
                            <td><a th:href="@{'/librarian/lectures/' + ${lecture.getId}}"
                                   th:text="${lecture.getId}"></a></td>
                            <td><span class="description" th:text="${lecture.accountId}"></span></td>
                        </tr>
                    </th:block>
                </table>
                <nav th:if="${totalPage} > 1" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link previous-page-lecture" style="cursor: pointer">
                                &laquo;
                            </a>
                        </li>
                        <li th:each="pageIndex: ${pages}" class="page-item"
                            th:classappend=" (${currentPage == pageIndex}) ? 'active' : '' ">
                            <th:block th:if="${pageIndex == -1}">
                                <span class="page-link">...</span>
                            </th:block>
                            <th:block th:if="${pageIndex != -1}">
                                <a th:text="${pageIndex}" th:value="${pageIndex}" class="page-link page-lecture-number"
                                   style="cursor: pointer"></a>
                            </th:block>
                        </li>
                        <li th:class="${currentPage == totalPage} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link next-page-lecture" style="cursor: pointer">
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- Bootstrap script -->
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<!-- Custom script -->
<script th:src="@{/js/librarian.js}"></script>
</body>
</html>
