<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian | Course detail</title>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link th:href="@{/css/styles/librarian.css}" rel="stylesheet">


    <!-- SweetAlert từ CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.32/dist/sweetalert2.min.css">


</head>

<body class="app_container">

<header class="row" th:replace="~{fragments/header::headerLibrarianSection}"></header>
<div class="main_content">
    <div class="grid app__container-content-wrapper">
        <div class="app__container-content">
            <div class="course-details-head">
                <a th:href="@{/librarian}">Home</a>
                <span> &gt; <a th:href="@{/librarian/lectures/list}"> Lecturer management</a> </span>
                <span> &gt; <a th:href="@{'/librarian/lectures/' + ${course.getId}}"
                               th:text="|${course.courseCode} - ${course.courseName}|"></a> </span>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Course Detail </h1>

            </div>
            <div class="table-responsive">
                <table class="table table-bordered" th:if="course ne null">
                    <tr>
                        <th>Course Code</th>
                        <td th:text="${course.courseCode}"></td>
                    </tr>
                    <tr>
                        <th>Course Name</th>
                        <td th:text="${course.courseName}"></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td class="paragraph" th:text="${course.description}"> </td>
                    </tr>
                    <tr>
                        <th>Lecturer
                            <!--                            <p><a class="update-course-topic" th:href="@{'/librarian/courses/addLecturers/'+${course.courseId}}">Edit</a>-->
                            <!--                            </p>-->
                        </th>
                        <td th:if="${checkLecturerCourse}">
                            <p th:text="${course.getLecturer().getAccount().getName()} + ' - ' + ${course.getLecturer().getAccount().getEmail()} "></p>
                            <p><a class="btn-info" th:href="@{'/librarian/courses/'+${course.getId()}+'/remove-lecture'}">Remove</a>
                            </p>
                        </td>
                        <td th:unless="${checkLecturerCourse}">
                            <form method="post" th:field="*{accounts}" th:action="@{'/librarian/courses/' + ${course.getId()} + '/add-lecture'}">
                                <!--                                <input type="text" id="lecturerEmail" name="lecturerEmail"  placeholder="Email" />-->
                                <select id="select-multiple-account" class=" wia-filter-value selectpicker show-tick"  data-style="btn-white" name="lecturerId"  data-live-search="true"  >
                                    <option selected disabled th:value="0">Choose a lecturer</option>
                                    <option th:each="account : ${accounts}" th:value="${account.getId()}"
                                            th:text="${account.getEmail()}"></option>
                                </select>
                                <button type="submit" class="btn-info">Add </button>
                            </form>
                        </td>

                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <a class="update-course" th:href="@{'/librarian/courses/'+${course.getId}+'/update'}">Edit course information</a>
                            | <a class="delete-course" th:id="${course.getId}" style="cursor: pointer">Delete</a>

                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>


<!--Custom script-->
<script th:src="@{/js/librarian/librarian.js}"></script>

<!--Bootstrap script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


<script th:inline="javascript">

    var successParam = [[${param.success}]];
    if (successParam) {
        Swal.fire(
            'Success!',
            'Delete course successful!',
            'success'
        );
    }

    var errorParam = [[${param.error}]];
    if (errorParam) {
        Swal.fire(
            'Error!',
            'Please check course information again!',
            'error'
        );
    }

</script>

</body>

</html>
