<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Librarian | Lectures</title>

    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <!-- Bootstrap core CSS -->
    <!--    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>


    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link th:href="@{/css/styles/librarian.css}" rel="stylesheet">

    <style>
        .dataTables_wrapper .dataTables_length {
            display: none;
            float: right;
        }

        #filterTable_filter {
            float: left;
            padding-bottom: 25px;
        }

        select.lib_show-all-btn {
            display: inline;
            width: 200px;
            margin-left: 25px;
            padding: 5px;
        }

        .dataTables_info {
            display: none;
        }

        .dataTables_wrapper .dataTables_paginate {
            text-align: center;
            float: none;
        }

    </style>

</head>
<body class="app_container">
<header class="row" th:replace="~{fragments/header::headerLibrarianSection}"></header>
<div class="main_content">
    <div class="grid app__container-content-wrapper">
        <div class="app__container-content">
            <div class="lecture-details-head">
                <a th:href="@{/librarian}">Home</a>
                <span> &gt; Lecturers management</span>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Lecturers</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                </div>
            </div>
            <div class="lib_data-list-wrapper">
                <div class="lib_search-container">
                    <div class="d-flex">
                        <input class="lib_search-content" type="text" placeholder="Search lecturer.." name="search"
                               th:value="${search}" id="search-text"/>
                        <button class="lib_search-btn-wrapper lib_search-btn" type="submit">
                            <i class="lib_search-btn-icon fas fa-search"></i>
                        </button>
                        <a class="btn lib_show-all-btn" th:href="@{/librarian/lectures/list}">Show AlL</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm" id="filterTable">
                    <thead class="table-head">
                    <th>STT</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Course List</th>

                    </thead>
                    <tbody>
                    <th:block th:each="lecture, iterStat : ${lecturers}">
                        <tr>
                            <td th:text="${iterStat.index+1}">1</td>
                            <td><a th:href="@{'/librarian/lectures/' + ${lecture.getId()}}"
                                   th:text="${lecture.getAccountName()}"></a></td>
                            <td><span class="description" th:text="${lecture.getAccountEmail()}"></span></td>
                            <td>
                                <th:block th:each="course : ${lecture.getCourses()}">
                                    <!--                                    <a th:href="@{'/librarian/courses/' + ${course.getId()}}">-->
                                    <button class="button-a-background"
                                            th:text="${course}"></button>
                                    <!--                                    </a>-->
                                </th:block>
                            </td>

                        </tr>
                    </th:block>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {

        var dataTable = $('#filterTable').DataTable({
            "searching": true,
           // "processing": true,
            "serverSide": true,
            "ordering": false,
            "pagingType": "simple_numbers",
            "pageLength": 2,
            "language": {
                "paginate": {
                    "first": "<<",
                    "last": ">>",
                    "next": ">>",
                    "previous": "<<"
                }
            },
            "ajax": {
                "url": "/api/librarian/lectures/list",
                "type": "GET",
                "dataSrc": "data",
                "data": function (data) {
                    // Thêm các tham số cần thiết vào yêu cầu Ajax
                    data.start = data.start || 0;
                    data.length = data.length || 2;
                    data.draw = data.draw || 1;
                    data.search = $("#search-text").val() || "";
                    // return JSON.stringify(data);
                }
            },
            "columns": [
                {
                    "data": "index",
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, // For numbering
                {"data": "accountName"},
                {"data": "accountEmail"},
                {
                    "data": "courses",
                    "render": function (data, type, row) {
                        var courseList = "";
                        data.forEach(function (course) {
                            courseList += '<a href="/librarian/courses/' + course + '">' + course + '</a>';
                        });
                        return courseList;
                    }
                },
                // { "data": "totalCourses" },
                // { "data": "lastModifiedDate" }
            ]
        });

        // Định dạng số thứ tự STT
        // dataTable.on('order.dt search.dt', function () {
        //     dataTable.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
        //         cell.innerHTML = i + 1;
        //     });
        // }).draw();

        function debounce(func, delay) {
            let debounceTimer;
            return function() {
                const context = this;
                const args = arguments;
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(() => func.apply(context, args), delay);
            };
        }

        // Enhanced search handler with debounce
        $('#search-text').on('keyup', debounce(function() {
            dataTable.search(this.value).draw();
        }, 500)); // 500ms delay



        // Ẩn nhãn 'Search:' mà DataTables tự động tạo
        $("label").each(function () {
            if ($(this).text().indexOf('Search:') >= 0) {
                $(this).css('display', 'none');
            }
        });


        // Bắt sự kiện khi người dùng click vào phân trang
        dataTable.on('click', 'a.paginate_button', function (e) {
            e.preventDefault();
            var page = $(this).attr('data-dt-idx');
            dataTable.page(page).draw('page');
        });

    });
</script>
<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>

<script th:src="@{/js/librarian/librarian.js}"></script>
</body>

</html>
