.lec__courses-content {

}

.lec__courses-list-view{
    display: flex;
}
.lec__view-list-course-content{
    width: 85%;
}
.lec__course-filter{
    width: 15%;
    margin-top: 2rem;
}
.lec__course-content{
    display: flex;
    width: 100%;
}
.lecturer__course-topic-list{
    width: 15%;
}
.lecturer__course-document-view{
    width: 72%;
    padding: 0.7rem;
}

.lecturer__course-document-list,
.lecturer__topic-info{
    width: 13%;
    height: 100vh; /* Set a fixed height or use a percentage */
    overflow: auto;
}
.list-view-block a, .list-view-block input{
    display: block;
}
.course-info-content{
    padding-top: 4rem;
}
.course-info{
    display: flex;
}
.lec__save-course-link{
    justify-content: right;
}
.lecturer__course-info-view{
    padding: 0.7rem 2rem 2rem 3rem;
}
.table-view-course-info,
.table-view-course-info th,
.table-view-course-info td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem 1rem;
}
.table-view-course-info th{
    text-align: right;
}
.table-view-course-info .course-info-code,
.table-view-course-info .course-info-name{
    font-weight: var(--font-medium);
}

.lec__save-course-link a
,.lec__save-doc-link a{
    border: 1px solid #888888;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background: var(--background-btn-color-hover);
}
.lec__save-course-link a:hover,
.lec__save-doc-link a:hover{
    background: var(--background-btn-color);
}


.lecturer-name{
    font-weight: var(--font-medium);
}
.saved-course{
    background: white;
}

.course-info-title i{
    color: var(--background-btn-color-hover);
    font-size: var(--large-font-size);
    padding-right: 0.7rem;
}

.form-chose-doc-type input{
    display: none;
}

.form-chose-doc-type label{
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    border: 1px solid #888888;
}

.form-chose-doc-type input:checked + label{
    color: white;
    background: var(--checked-background-color);
}
.document-wrapper {
    margin-top: 2rem;
    padding-left: 1rem;
}

.doc-content-view, .doc-content-list{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.doc-info-title{
    font-size: var(--medium-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0;
    color: var(--link-color);
}
.doc-info-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.full-content {
    -webkit-line-clamp: unset;
}
.read-more {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    display: none;
}
.read-more:hover {
    color: darkblue;
}
.document-view-info{
    padding: 0.5rem;
}
.doc-info-title:hover{
    color: var(--hover-color);
}
.doc-info-general{
    font-weight: var(--font-normal);
    padding-left: 1rem;
}
.doc-info-general a{
    font-weight: var(--font-normal);
    padding-right: 4rem;
}
.lec__btn_save-doc{
    padding: 0.7rem 2.2rem;
    border: 1px solid #888888;
    border-radius: 3rem;
}
.lec__btn_save-doc:hover {
    background: var(--background-btn-color-hover);
}
.doc-content-view{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.list-view-block p{
    margin: 0.3rem;
}
.lec__view-saved-courses{
    width: 100%;
}
.view-block-list{
    width: 100%;
    margin-left: 2rem;
}



#toggleIdLecturer {
    cursor: pointer;
}

#main-lecturer {
    width: 100%;
}

/*Course*/

.course-detail-info-title {
    /*border-bottom: var(--disable-link-text-color) 2px solid;*/
    margin-bottom: 1rem;
}

.lec__navbar-list {
    /*display: inline;*/
    margin: 2rem 2rem 0;
    width: 85%;
    padding: 1rem;
}
.lec__navbar-item,
.lec__navbar-view-doc-item{
    display: inline;
    padding: 1rem 1.5rem;
    font-weight: var(--font-medium);
    border-radius: 0.3rem;
    cursor: pointer;
}
.lec__navbar-item:hover a,
.lec__navbar-view-doc-item:hover a{
    color: var(--background-btn-color);
}
.lec__navbar-active{
    color: var(--background-btn-color);
    border-bottom: 2px solid var(--link-color);
}
.lec__navbar-active a{
    color: var(--background-btn-color);
}
.resource-type-list{
    margin:0 0 1.5rem 0;
    padding: 0;
}
.resource-type-item{
    margin:0;
    padding: 0;
}
/*Add doc*/

.lecturer_input-label {
    padding: 8px 18px;
    text-align: right;
}

.lecturer_input-label-doc{
    padding-top: 8px;
    padding-bottom: 4px;
    font-weight: var(--font-medium);
}

.lecturer_input {
    height: 30px;
    font-size: 1.3rem;
}

.lecturer_textarea {
    font-size: 1.3rem;
    height: fit-content;
}

.lecturer__input-doc {
    width: 100%;
}

#editorWrapper {
    margin-top: 1rem;
}

.lec__edit-topic-icon{
    font-size: var(--medium-font-size);
    border-radius: 0.2rem;
    border: 1px solid #888888;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 4px 8px;
}
.lec__add-doc-icon{
    padding: 4px;
    font-size: var(--medium-font-size);
    border-radius: 0.2rem;
    border: 1px solid #888888;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.lec__question-content{
    padding: 0rem 0rem 0rem 1.5rem;
    margin: 0rem;
}
.lec__question-content-wrapper{
    margin: 0.2rem 0.2rem 0.5rem 1.5rem;
    padding: 0.9rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16);
}
.lec__question-creater-name{
    align-items: center;
    color: #4b69e7;
    font-size: var(--medium-font-size);
}
.lec__question-date,
.lec__answer-date,
.lec__answer-lecturer
{
    font-size: var(--normal-font-size);
    /*padding: 0.2rem;*/
    margin: 0;
}
.lec_link-reply-question{
    cursor: pointer;
}
.lec__reply-form{
    display: none;
}

.form-lecturer-add-doc-new-reply{
    margin-top: 0.2rem;
    margin-left: 1.2rem;
    border-radius: 0.22rem;
    border: 1px solid #888888;
    padding: 1rem;
}
.input-reply-content{
    width: 100%;
    height: 5rem;
    overflow-y: auto;
    border: none;
    display: inline;
    resize: none;
}
.input-reply-content:focus{
    outline: none;
}
.submit-reply-button{
    text-align: right;
}
.submit-reply-button button{
    border: none;
    display: inline;
}
/*.submit-reply-button button i{*/
/*    color: #888888;*/
/*}*/
/*.submit-reply-button button i:hover{*/
/*    color: black;*/
/*}*/
.reply-content{
    /*display: none;*/
}

.view-reply-link-item,
.view-question-link-item{
    cursor: pointer;
    font-size: var(--medium-font-size);
    font-weight: var(--font-medium);
}
.view-reply-link-item:hover,
.view-question-link-item:hover{
    text-decoration: underline;
}
.reply-content{
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}
.lecturer_input-label {
    padding-top: 8px;
    padding-bottom: 4px;
    font-weight: var(--font-medium);
}
.question-content{
    font-size: 1.8rem;
}
.lec__question-view-wrapper {
    padding: 16px;
    background-color: white;
    margin-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16);
}
.view-question-list{
    width: 90%;
    padding: 0rem 1.3rem 0rem 0rem;
    margin: 1rem 0rem 0.2rem 2rem;
}
.lecturer-content-view-brief{
    font-size: var(--medium-font-size);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-left: 0rem;
}
.link-view-detailed{
    color: #0a58ca;
    cursor: pointer;
}
.link-view-detailed i{
    font-size: var(--small-font-size);
}
.link-view-detailed:hover{
    text-decoration: underline;
}
.lec__question-title{
    font-size: var(--medium-font-size);
    font-weight: bold;
    overflow: hidden;
}
.lec__question-title:hover{
    text-decoration: underline;
}
.lec__question-in-doc-content{
    padding-top: 1rem;
}
.view-list{
    padding-top: 1rem;
}
.lec__questions-list-view{
    padding-top: 1rem;
}
.edit-question-div input:focus {
    height: 2.5em; /* Chiều cao khi ô input được focus */
}
.edit-reply-div{
    padding-left: 1rem;
}
.edit-reply-div input{
    border: 1px solid #888888;
    border-radius: 1rem;
    min-width: 70%;
    height: auto;
    box-sizing: border-box;
    transition: height 0.3s;
}
.edit-reply-div input:focus {
    height: 2.5em; /* Chiều cao khi ô input được focus */
}

.lec__div-content-recent-title {
    margin-top: 2rem;
    margin-left: 2rem;
}
label.error {
    margin-top: 5px;
    margin-left: 5px;
    display: block;
    color: red;
    /*font-size: smaller;*/
}
.update-reply{
    height: 10rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.22rem;
}
.update-reply:focus{
    border: 1px solid #888888;
    border-radius: 0.22rem;
    outline: none;
    box-shadow: 0 0 4px #9babfc;
}
.add-lick-course-detail{
    margin-top: 1rem;
}

.question-label {
    font-weight: var(--font-medium);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.lec__no-recent-course {
    font-weight: var(--font-medium);
    font-size: 1.5rem;
}
.number-count{
    color: #888888;
    font-size: var(--font-medium);
    font-style: italic;
}
.count-courses{
    margin-top: 2rem;
    margin-left: 2rem;
}
.home__course-wrapper{
    cursor: pointer;
}
.home__course-wrapper:hover .home__course-name{
    color: var(--link-color);
}
.load-more-question-button{
    display: flex;
    justify-content: center;
}
.load-more-question-button i{
    margin-right: 1.5rem;
}
.load-more-question-button button{
    margin-top: 1.5rem;
    padding: 1.8rem 2.3rem;
}