<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject Management</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/styles/librarian.css}" />
  </head>
  <body>
    <div class="app_container">
      <!-- Header -->
      <div class="row" th:replace="~{fragments/header::headerLecturerSection}"></div>

      <!-- Content -->
      <main class="main_content">
        <div class="container">
          <div class="container-content">
            <div class="body">
              <div class="user-management-head">
                <a th:href="@{/lecturer}">Home</a>
                <span> &gt; <a th:href="@{/librian/courses/list}"> Courses </a> </span>
              </div>

              <div class="">
                <div class="search-container">
                  <form action="">
                    <input
                            type="text"
                            placeholder="Search course.."
                            name="search"
                            id="search-text"
                    />
                    <button type="submit">
                      <i class="fa fa-search"></i> Search
                    </button>
                    <a class="btn-add" type="button" th:href="@{/lecturer/courses/manage_course/list}">
                      My courses
                    </a>
                    <a class="btn-add" type="button" th:href="@{/lecturer/courses/list}">
                      Show All
                    </a>
                  </form>
                </div>
              </div>

              <div th:if="${courses ne null}">
                <table class="list-model-table">
                  <tr class="table-head">
                    <th>Code</th>
                    <th>Name</th>
                    <th>Descriptions</th>
                  </tr>
                  <th:block th:each="course : ${courses}">
                  <tr>
                    <td><a th:href="|@{/user/courses/detail}?courseId= + ${course.courseId}|"
                    th:text="${course.courseCode}"></a></td>
                    <td th:text="${course.courseName}"></td>
                    <td th:text="${course.description}"></td>
                    <td colspan="2">
                      <a class="update-account" th:href="@{'/librarian/courses/detail/'+${course.courseId}}">View</a>
                    </td>
                  </tr>
                  </th:block>
                </table>
              </div>
            </div>
          </div>

        </div>




      </main>

      <!-- Footer -->
      <div class="row" th:replace="~{fragments/footer :: footerSection}"></div>
    </div>
  </body>
</html>
