<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lecturer | Details Course</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>

<body class="app_container">
<!-- Header -->
<div class="row" th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content row">
            <div class="main-content stu_course-saved">
                <div class="stu_course-saved-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar}"></div>
                    </div>

                    <div class="stu_courses-content m-3" id="main-lecturer">
                        <div class="course-details-head">
                            <a th:href="@{/lecturer}">Home</a>
                            <span> &gt; <a th:href="@{/lecturer/courses/list}"> Courses management</a> </span>
                            <span> &gt; <a th:href="@{'/lecturer/courses/' + ${course.getId}}"
                                           th:text="|${course.courseCode} - ${course.courseName}|"></a> </span>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <div>
                                <h1 class="h2" th:text="${course.courseCode} + ' - ' + ${course.courseName}"></h1>
                                <p th:text="${course.description}"></p>
                            </div>
                            <div>
                                <a th:href="@{}">
                                    Add topic
                                </a>
                            </div>
                        </div>
                        <div>
                            <ul class="list-group" th:each="topic : ${topics}">
                                <li class="list-group-item" th:text="topic.name"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>

<!--<div class="app_container">-->


<!--    &lt;!&ndash; Content &ndash;&gt;-->
<!--    <main class="main_content">-->
<!--        <div class="course-details-head">-->
<!--            <a th:href="@{/lecturer/courses/list}">Back</a>-->
<!--            <span> &gt; <a th:href="@{'/lecturer/courses/' + ${course.courseId}}"-->
<!--                           th:text="|${course.courseCode} - ${course.courseName}|"></a> </span>-->
<!--        </div>-->
<!--        <div>-->
<!--            <h1>Detail Subject</h1>-->
<!--            <div>-->
<!--                <table th:if="course ne null">-->
<!--                    <tr>-->
<!--                        <th>Course Code</th>-->
<!--                        <td th:text="${course.courseCode}"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>Course Name</th>-->
<!--                        <td th:text="${course.courseName}"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>Description</th>-->
<!--                        <td th:text="${course.description}"> </td>-->
<!--                    <tr>-->
<!--                        <th>Topics-->
<!--                        </th>-->
<!--                        <td th:if="topics ne null">-->
<!--                            <th:block th:each="topic : ${topics}">-->
<!--                                <a th:href="@{'/lecturer/topics/detail/' + ${topic.topicId}}" th:text="|${topic.topicTitle} : ${topic.topicDescription}|"></a>-->
<!--                            </th:block>-->
<!--                        </td>-->

<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>Lecturers-->
<!--                        </th>-->
<!--                        <td th:if="lecturers ne null">-->
<!--                            <th:block th:each="lecturer : ${lecturers}">-->
<!--                                <p th:text="|${lecturer.username} ( ${lecturer.name} )|"></p>-->
<!--                            </th:block>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th></th>-->
<!--                        <td>-->
<!--                            <a class="update-course" th:href="@{'/lecturer/courses/update/'+${course.courseId}}">Edit course information</a>-->
<!--                            | <a class="delete-course" th:id="${course.courseId}">Delete</a>-->
<!--                            | <a class="update-topics" th:href="@{'/lecturer/courses/topics/'+${course.courseId}}">Edit topics</a>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->

<!--            </div>-->
<!--        </div>-->
<!--    </main>-->


<!--</div>-->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/js/lecturer.js"></script>
<script>
    function myFunction() {
        confirm("Do you want to delete?");
    }
</script>
</body>

</html>