<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Lecturer | Course details</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fontawesome-6.4.2/css/all.css}"/>

    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragment.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles/lecturer.css}"/>

</head>

<body class="app_container">
<!-- Header -->
<div th:replace="~{fragments/header::headerLecturerSection}"></div>
<div class="main_content">
    <div class="container-content-wrapper">
        <!--  Main-->
        <div class="container-content">
            <div class="main-content lec__course">
                <div class="lec__course-content d-flex">
                    <div class="stu_sidebar">
                        <div th:replace="~{fragments/sidebar:: lecturerSidebar('my-courses-management')}"></div>
                    </div>

                    <div class="lec__courses-content main" id="main-lecturer">
                        <div class="course-details-head">
                            <a th:href="@{/lecturer}">Home</a>
                            <span> &gt; <a th:href="@{/lecturer/courses/list/all/1}"> Courses management</a> </span>
                            <span> &gt; <a th:text="|${course.courseCode} - ${course.courseName}|"></a> </span>
                        </div>
                        <div class="align-items-center course-detail-info-title">
                            <div class="distance-from-title">
                                <h1 class="h2" th:text="${course.courseCode} + ' - ' + ${course.courseName}"></h1>
                                <p id="content" class="doc-info-description"
                                   style="text-align: justify; margin-bottom: 0" th:text="${course.description}"></p>
                                <span id="readMoreBtn" class="read-more" onclick="toggleContent()">Read more</span>

                            </div>
                        </div>
                        <p>Course status:
                            <th:block th:if="${course.status.toString().equals('NEW')}">
                                        <span class="text-info fw-bold"
                                              th:text="${course.status.getDisplayValue()}"></span>
                            </th:block>
                            <th:block th:if="${course.status.toString().equals('PUBLISH')}">
                                        <span class="text-success fw-bold"
                                              th:text="${course.status.getDisplayValue()}"></span>
                            </th:block>
                            <th:block th:if="${course.status.toString().equals('DRAFT')}">
                                        <span class="text-warning fw-bold"
                                              th:text="${course.status.getDisplayValue()}"></span>
                            </th:block>
                            <th:block th:if="${course.status.toString().equals('HIDE')}">
                                        <span class="text-secondary fw-bold"
                                              th:text="${course.status.getDisplayValue()}"></span>
                            </th:block>


                            <button type="button" id="changeCourseStatus" class="border-0 ms-3">Change</button>
                        <form method="post" th:action="@{'/lecturer/courses/' + ${course.id} + '/changeStatus'}"
                              style="display:none" id="courseStatusSelect">
                            <select style="height: 30px;" th:name="status">
                                <option
                                        th:each="status:${courseStatus}"
                                        th:value="${status}"
                                        th:text="${status.getDisplayValue()}"></option>
                            </select>
                            <button type="submit" class="btn btn-save border-0" style="margin: 0 0 0 2rem; height: 30px">Save</button>
                        </form>
                        <div class="add-lick-course-detail">
                            <div class="d-inline-block">
                                <a class="btn btn--hover"
                                   th:href="@{'/lecturer/courses/' + ${course.id} + '/add_topic'}">
                                    + Add topic
                                </a>
                                <a class="btn btn--hover"
                                   th:href="@{'/lecturer/courses/' + ${course.id} + '/add_resource_type'}">
                                    + Add resource type
                                </a>
                            </div>
                        </div>
                        </p>
                        <div class="border-bottom">
                            <ul class="mt-4">
                                <li class="lec__navbar-item" id="topicSelection"
                                    th:classappend="${getBy == 'topics' || getBy == null ? 'lec__navbar-active' : ''}">
                                    <a th:href="@{'/lecturer/courses/' + ${course.id} + '/topics'}">
                                        Topics
                                    </a>
                                </li>
                                <li class="lec__navbar-item" id="resourceTypeSelection"
                                    th:classappend="${getBy == 'resource_types' ? 'lec__navbar-active' : ''}">
                                    <a th:href="@{'/lecturer/courses/' + ${course.id} + '/resource_types'}">
                                        Resource types
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="doc-content-list">
                                <div class="topic-list-content">
                                    <div class="topic-view-list">
                                        <!--Topic view-->
                                        <div id="topics" class="topic-item pt-2 pb-3 border-bottom"
                                             th:each="topic : ${topics}">
                                            <div class="topic-title">
                                                <h3 class="topic-info-title d-flex justify-content-between">
                                                    <a th:href="@{'/lecturer/topics/' + ${topic.id}}"
                                                       th:text="${topic.topicTitle}" style="flex: 3"></a>
                                                    <div style="flex: 1; display: flex; justify-content: center; min-width: fit-content">
                                                        <div style="min-height: fit-content">
                                                            <a class="lec__add-doc-icon"
                                                               th:href="@{'/lecturer/topics/' + ${topic.id} +'/documents/add'}">
                                                                + <span>Add
                                                                document </span></a>
                                                            <a class="lec__edit-topic-icon"
                                                               th:href="@{'/lecturer/topics/' + ${topic.id} +'/update'}">
                                                                <i class="fa-solid fa-edit"></i>
                                                            </a>
                                                            <a class="lec__edit-topic-icon"
                                                               th:href="@{'/lecturer/topics/' + ${topic.id} +'/delete_topic'}">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </h3>
                                            </div>
                                            <!--Document view list-->
                                            <!--                                            <div class="lecturer__list-">-->

                                            <!--                                            </div>-->
                                            <!--                                            <div class="d-flex align-items-center document-view-info border-bottom"-->
                                            <!--                                                 th:each="document : ${topic.getDocuments()}">-->
                                            <!--                                                <div class="doc-info-head" style="max-width: 75%">-->
                                            <!--                                                    <p class="doc-info-title"><a-->
                                            <!--                                                            th:href="@{'/lecturer/documents/' + ${document.id}}">-->
                                            <!--                                                        <span th:text="${document.title}"></span></a>-->
                                            <!--                                                    </p>-->
                                            <!--                                                    <p class="doc-info-description">-->
                                            <!--                                                        <span th:text="${document.description}"></span>-->
                                            <!--                                                    </p>-->
                                            <!--                                                </div>-->
                                            <!--                                                <div style="margin-left: 5%">-->
                                            <!--                                                    <a class="lec__edit-topic-icon"-->
                                            <!--                                                       th:href="@{'/lecturer/documents/' + ${document.id} +'/update'}">-->
                                            <!--                                                        <i-->
                                            <!--                                                                class="fa-regular fa-edit"></i> </a>-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                            <!--End Document view-->
                                        </div>
                                        <!--End Topic view-->
                                        <!--Rs type view-->
                                        <div id="resourceTypes" class="topic-item pt-2 pb-3 border-bottom"
                                             th:each="rtype : ${resourceTypes}">
                                            <div class="topic-title">
                                                <h3 class="topic-info-title d-flex justify-content-between">
                                                    <a th:href="@{'/lecturer/resource_types/' + ${rtype.id}}"
                                                       th:text="${rtype.resourceTypeName}" style="flex: 3"></a>
                                                    <div style="flex: 1; display: flex; justify-content: center; min-width: fit-content">
                                                        <div>

                                                            <a class="lec__add-doc-icon" th:if="${course.topics.size() > 0}"
                                                               th:href="@{'/lecturer/resource_types/' + ${rtype.id} +'/documents/add'}">
                                                                + <span>Add
                                                                document </span></a>
                                                            <a class="lec__edit-topic-icon"
                                                               th:href="@{'/lecturer/resource_types/' + ${rtype.id} +'/update'}">
                                                                <i class="fa-solid fa-edit"></i>
                                                            </a>
                                                            <a class="lec__edit-topic-icon"
                                                               th:href="@{'/lecturer/resource_types/' + ${rtype.id} +'/delete'}">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </h3>
                                            </div>
                                            <!--Document view list-->
                                            <!--                                            <div class="lecturer__list-">-->

                                            <!--                                            </div>-->
                                            <!--                                            <div class="d-flex align-items-center document-view-info border-bottom"-->
                                            <!--                                                 th:each="document : ${topic.getDocuments()}">-->
                                            <!--                                                <div class="doc-info-head" style="max-width: 75%">-->
                                            <!--                                                    <p class="doc-info-title"><a-->
                                            <!--                                                            th:href="@{'/lecturer/documents/' + ${document.id}}">-->
                                            <!--                                                        <span th:text="${document.title}"></span></a>-->
                                            <!--                                                    </p>-->
                                            <!--                                                    <p class="doc-info-description">-->
                                            <!--                                                        <span th:text="${document.description}"></span>-->
                                            <!--                                                    </p>-->
                                            <!--                                                </div>-->
                                            <!--                                                <div style="margin-left: 5%">-->
                                            <!--                                                    <a class="lec__edit-topic-icon"-->
                                            <!--                                                       th:href="@{'/lecturer/documents/' + ${document.id} +'/update'}">-->
                                            <!--                                                        <i-->
                                            <!--                                                                class="fa-regular fa-edit"></i> </a>-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                            <!--End Document view-->
                                        </div>
                                        <!--End Rs type view-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="row" th:replace="~{fragments/footer :: footerSection}"></div>
<!--jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/js/lecturer/lecturer.js"></script>
<script>
    let content = document.getElementById("content");
    function toggleContent() {
        let button = document.getElementById("readMoreBtn");
        if (content.classList.contains("doc-info-description")) {
            content.classList.remove("doc-info-description");
            content.classList.add("full-content");
            button.textContent = "Read less";
        } else {
            content.classList.remove("full-content");
            content.classList.add("doc-info-description");
            button.textContent = "Read more";
        }
    }

    if (content.scrollHeight > content.clientHeight) {
        let button = document.getElementById("readMoreBtn");
        button.style.display = 'inline-block';
    }

    // Get the button and select element
    const button = document.getElementById('changeCourseStatus');
    const select = document.getElementById('courseStatusSelect');

    // Add event listener to the button
    button.addEventListener('click', function () {
        // Toggle the visibility of the select element
        select.style.display = select.style.display === 'none' ? 'flex' : 'none';
    });

    // $('#topicSelection').addEventListener('click', function () {
    //         $('#topics').show();
    //         $('#resourceTypes').hide();
    //     }
    // )

</script>
</body>

</html>